.form-change {
    border: 0;
    border-bottom: 1px solid;
}

.employee-list {
    height: auto;
    background-color: black;
    border: 1px solid black;
    position: absolute;
    top: 100px;
    left: 25%;
    display: none;
}

.lead-detail {
    height: auto;
    background-color: black;
    border: 1px solid black;
    position: absolute;
    top: 5%;
    left: 5%;
    display: none;
}

.popup-container {
    height: auto;
    width: 100%;
    height: 100%;
    background-color: rgb(116, 113, 113, 0.5);
    border: 1px solid rgb(92, 91, 91);
    position: absolute;
    z-index: 9999;
    top: 0;
    left: 0;
    justify-content: center;
    display: none;
}

.close {
    top: 5px;
    right: 0;
    margin: 0px;
    cursor: pointer;
    padding: 0 10px;
    font-size: 30px;
    font-weight: bold;
    color: rgb(2, 2, 2);
    position: absolute;
    transform: rotate(45deg);
}

table.dataTable thead .sorting:after,
table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_desc_disabled:after,
table.dataTable thead .sorting_desc_disabled:before {
    bottom: 0.5em;
}

.content_vh_ref {
    height: calc(83vh - 130px) !important;
}

/* important */
.header-content-print {
    border-bottom: none;
    padding: 0;
}

/*.....................custom_css..............*/
.content-calendar {
    height: calc(100vh - 130px);
}

.space_betn {
    padding-bottom: 5%;
}

.ht-122 {
    height: 122px;
}

.table-primary.table-striped tbody tr:nth-of-type(2n + 1) {
    background-color: white;
}

/*    .table_pay th{
        border: 1px solid black;
        }*/
/*  .table-striped .sn_strip{
        position: relative;
        }*/
/*    .table-striped .sn_strip:before{
        content: "";
        position: absolute;
        width: 1px;
        height: 100%;
        left: 0;
        background: black;
        height: 100vh;
        }*/
/*       .sn_strip:after{
        content: "";
        position: absolute;
        width: 1px;
        height: 100%;
        top: 0;
        background: black;
        height: 100%;
    }
    */

.sn_strip_control {
    position: relative;
}

/*    .sn_strip_control td{
            border-bottom: 1px solid black;
    border-color: black !important;
    }
*/
/*       .sn_strip_control th{
                border-bottom: 1px solid;
                }*/
.sn_strip_control .table-striped th {
    text-align: center;
}

.content-calendar i {
    color: #5556fd;
}

.btn-outline-light {
    background-color: #e9ecf1;
}

.btn-outline-light:hover {
    background-color: white !important;
}

.form-control-sm {
    border-color: black;
}

.form-control {
    border-color: black;
}

.btn-outline-light {
    border-color: black;
}

.table-primary th,
.table-primary td,
.table-primary thead th,
.table-primary tbody + tbody {
    border-color: black;
}

.border-top {
    border-top: 1px solid black;
}

.border-bottom {
    border-color: black !important;
}

.hr-custom {
    margin-bottom: 0;
    border-color: black;
}

.light-boxshadow {
    box-shadow: 0px 0px 8px -4px;
}

.sn_strip_control i {
    color: red;
}

.fill-color {
    background-color: #e6e7ef;
    border: none;
}

.form_foot {
    box-shadow: 0.4px 1px 3px 0px #cacaca;
}

.modal_ac_head input {
    width: 100%;
    border: 1px solid black;
    /*border-radius: 6px;*/
    padding: 5px;
    /*
                 margin-top: 2%;*/
}

.modal_ac_head .close {
    transform: inherit;
    right: 3%;
    top: 10px;
    color: white;
    opacity: 1;
}

.modal-footer_footer {
    text-align: center;
    display: block;
    border: none;
    /*padding-top: 0;*/
}

.modal_ac_head .modal-title {
    color: white;
    font-weight: 500;
    font-size: 18px;
    text-transform: capitalize !important;
    text-align: left;
    margin-left: 1rem;
}

.modal_ac_head .modal-header {
    text-align: center;
    display: block;
    background: #1b52bf;
    padding: 10px 0px 10px 0px;
}

.modal_ac_head .modal-content {
    border: 4px solid #1b52bf;
}

.modal_ac_head form {
    text-align: left;
    font-weight: 500;
}
.modal .group {
    border: 1px solid silver;
    padding: 1rem;
}
.bg-theam-secondary {
    background: #c1d6ec;
}
.bg-theam-secondary input,
.bg-theam-secondary select,
.bg-theam-secondary textarea {
    border: 1px solid silver !important;
}
.bg-theam-secondary .group-caption {
    background: #c1d6ec !important;
}
.group .group-caption {
    display: block;
    margin-top: -1.8rem;
    font-size: 15px;
    margin-bottom: 0.5rem;
    background: white;
    width: 170px;
    padding-left: 1rem;
}

.modal_ac_head input[type="radio"] {
    width: 15px !important;
}

.modal .btn-primary {
    background: #1b52bf;
}
@media (min-width: 576px) {
    .modal-dialog {
        min-width: 50%;
        margin: 1.75rem auto;
    }
    .modal-lg {
        min-width: 75%;
    }
    .modal-md {
        min-width: 65%;
    }
}

.modal_ac_head .form-control-sm {
    /* border-radius: 6px 0px 0px 6px;*/
    margin-top: 0;
}

.modal_ac_head .input-group-text {
    padding-bottom: 18px;
    padding-top: 14px;
}

.modal_ac_head .form-control-sm {
    padding-bottom: 15px;
    padding-top: 15px;
}

/*  .modal_ac_head .group_right{
           border-radius: 0px 6px 6px 0px;
       }
       */
/* .modal_ac_head .input-group{
        margin-top: 2%;
    }*/
.modal_ac_head .modal-footer_footer button {
    padding: 10px 50px 10px 50px;
}

.mar_top {
    margin-top: 2%;
}

.mar_bot {
    margin-bottom: 4%;
}

.modal_ac_head .textarea_custom textarea {
    width: 100%;
    border: 1px solid black;
    /*border-radius: 6px;*/
    padding: 5px;
    /*margin-top: 2%;*/
}

.purchase_content .mg-b-10 {
    margin-bottom: 5px;
}

.purchase_content .mg-10 {
    margin-bottom: 0;
}

/* select.form-control.form-control-sm.select2-no-search.wd-15p.mg-r-45{
        border-radius: 6px;
        border-width: 2px;
        }*/
.custom-file-label::after {
    background-color: #e9ecf1;
}

.custom-file-label {
    border: 1px solid;
}

.modal-body .preview img {
    width: 65%;
    height: 100%;
}

.preview .browse-button input {
    padding: 0px !important;
}

.modal_cust .modal_ac_head input {
    /* padding: 3px;*/
    margin-top: 0;
}

.file-field .waves-effect {
    padding: 0;
    border: none;
}

.file-field .waves-effect input {
    height: 105px;
    padding-top: 35%;
    width: 72%;
}

.modal_cust .btn-mdb-color {
    padding-left: 0;
}

.upload_type img {
    width: 100%;
    height: 120px;
}

.if_function_input input {
    border: none;
}

.cust_txt_area textarea {
    margin-top: 0 !important;
}

.modal_cust .input-group-prepend .input-group-text {
    padding-top: 18px;
    padding-bottom: 12px;
    font-size: 16px;
}

.group_label {
    text-align: left;
}

.group_label label {
    margin-bottom: 0;
}

.group_label_inner {
    margin-top: 0 !important;
}

.modal-footer-right {
    text-align: right;
    padding-right: 0;
}

.modal-footer-right button {
    margin-right: 0 !important;
}

.table {
    margin-bottom: 0;
}

.table_bor_100p .table-bordered th,
.table_bor_100p .table-bordered td {
    border-bottom: 0;
}

.regular-checkbox {
    display: none;
}

.regular-checkbox + label {
    background-color: #fafafa;
    border: 1px solid #cacece;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05),
        inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
    padding: 9px;
    border-radius: 3px;
    display: inline-block;
    position: relative;
}

.background_table tbody > tr {
    background-color: #e6e7ef;
}

.return_space {
    padding-bottom: 18px;
}

.table-bordered th,
.table-bordered td {
    border-right: 0;
}

.table-bordered th,
.table-bordered td:first-child {
    border-left: 0;
}

/*.modal_ac_head select{
    border-radius: 6px;
    }*/
.margin_t_0 {
    margin-top: 0 !important;
}

.input-group-prepend .btn_small {
    padding: 5.5px 13px;
    /*            border-radius: 6px 6px;*/
}

.ht-400 {
    height: 400px;
}

.no_radius {
    border-radius: inherit !important;
}

.yellow_btn {
    background: linear-gradient(
        0deg,
        rgb(181, 143, 7) 23%,
        rgba(249, 196, 3, 1) 55%
    );
    padding: 7px 25px;
    border-radius: 5px;
}

.green_btn {
    background: linear-gradient(
        0deg,
        rgba(44, 166, 68, 1) 0%,
        rgba(22, 83, 34, 1) 19%,
        rgba(44, 166, 68, 1) 92%
    );
    padding: 7px 25px;
    border-radius: 5px;
}

.mg-t-0imp {
    margin-top: 0 !important;
}

@media (min-width: 768px) {
    .wd-md-69p {
        width: 69%;
    }

    .wd-md-74p {
        width: 74%;
    }
}

.pd-r-0 {
    padding-right: 0;
}

.cust_width {
    width: 90%;
}

th.sn_strip {
    border: 1px solid;
}

th.sn_strip:first-child {
    border: none;
}

.ht-132 {
    height: 132px;
}

.table_scroll {
    height: 400px;
}

.body_width {
    height: 532px;
    overflow-x: overlay;
}

.cancle_bill textarea {
    width: 100%;
    padding: 10px 10px;
}

.cancle_bill span {
    color: grey;
}

@media (min-width: 576px) {
    .modal_cancle_bill {
        max-width: 30%;
    }
}

/** {
  box-sizing: border-box;
}

body {
  background-color: #f1f1f1;
  }*/

/*#regForm {
  background-color: #ffffff;
  margin: 100px auto;
  font-family: Raleway;
  padding: 40px;
  width: 70%;
  min-width: 300px;
}
*/

/*input {
  padding: 10px;
  width: 100%;
  font-size: 17px;
  font-family: Raleway;
  border: 1px solid #aaaaaa;
  }*/

/* Mark input boxes that gets an error on validation: */
input.invalid {
    background-color: #ffdddd;
}

/* Hide all steps by default: */
.employee_tab .tab {
    display: none;
    padding: 20px 10px;
    border: 1px solid;
    border-radius: 0px 0px 10px 10px;
}

/*button {
  background-color: #4CAF50;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  font-size: 17px;
  font-family: Raleway;
  cursor: pointer;
}
*/
button:hover {
    opacity: 0.8;
}

#prevBtn {
    background-color: #bbbbbb;
}

/* Make circles that indicate the steps of the form: */
.step {
    border: none;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
}

.step.active {
    opacity: 1;
    background: linear-gradient(
        0deg,
        rgba(22, 22, 190, 1) 23%,
        rgba(49, 50, 224, 1) 55%
    ) !important;
    width: 100%;
    color: white;
    padding: 10px 6px;
    /* border: 1px solid; */
    border-radius: 10px 10px 0px 0px;
}

/* Mark the steps that are finished and valid: */
.step.finish {
    /* background-color: #4CAF50;*/
}

.modal_cust .form-control {
    height: calc(1em + 0.874rem + 2px);
}

.modal_cust .btn_small {
    padding: 3.5px 13px;
}

#prevBtn {
    background: #1a1bb3;
    color: white;
}

.mg-top1p {
    margin-top: 1%;
}

.t--8 {
    top: -8px;
}

.space_betn8 {
    padding-bottom: 8%;
}

.employee_tab .nav-tabs .nav-link.active {
    background: linear-gradient(
        0deg,
        rgba(22, 22, 190, 1) 23%,
        rgba(49, 50, 224, 1) 55%
    );
    color: white;
    border-radius: 10px 10px 0px 0px;
}

.employee_tab .nav-tabs .nav-link {
    padding: 2px 53px;
    font-size: 15px;
    font-weight: bold;
    background-color: inherit;
    border: none;
}

.employee_tab .nav-tabs {
    background: rgba(230, 231, 239, 0.85);
    border-radius: 10px 10px 0px 0px;
}

.employee_tab .tab-content {
    box-shadow: 0px 0px 5px 0px;
    padding: 20px 20px;
    border-radius: 0px 0px 15px 15px;
}

.tab_nxt_prv {
    width: 100%;
    text-align: right;
}

.tab_nxt_prv a {
    color: white !important;
    padding: 0.437rem 3rem !important;
}

.tab_nxt_prv .btnPrevious {
    margin-right: 4%;
}

.upload_type {
    border: 1px solid;
}

.tab-pane {
    font-weight: 500;
}

.modal-content .nav-tabs .nav-item + .nav-item {
    margin-left: 0;
}

.employee_tab .tab-content {
    height: 425px;
}

.mg-t-26p {
    margin-top: 26%;
}

.gropup-flex {
    display: flex;
}

.employee_tab .form-control {
    height: auto;
}

.no-pad {
    padding: 0 !important;
}

.employee_tab .textarea_custom textarea {
    margin-top: 0;
}

.employee_tab .small {
    display: block;
    font-weight: 500;
    font-size: inherit;
}

.new_item input {
    margin-top: 0;
}

.form-control-cust {
    padding-left: 40px;
    padding-right: 40px;
}

.new_item .form-control-sm {
    text-align: center;
}

.modal-body {
    font-weight: 500;
}

.modal-footer-right {
    padding-bottom: 0;
}

.modal-footer {
    padding-bottom: 0;
}

.stock_header span {
    margin-left: 6%;
    font-weight: 500;
}

.stock_body td {
    text-align: center;
}

.stock_body .table-primary thead {
    background-color: white;
    color: black;
    border: 1px solid black;
}

.branch_head {
    background: linear-gradient(
        0deg,
        rgba(22, 22, 190, 1) 23%,
        rgba(49, 50, 224, 1) 55%
    );
    color: white;
    padding: 2px 0px;
    margin-top: 2%;
    padding-left: 22px;
}

.stock_body .table-bordered th,
.stock_body .table-bordered td:first-child {
    border-left: 1px solid;
}

.stock_body .table-bordered th,
.stock_body .table-bordered td:last-child {
    border-right: 1px solid black;
}

.stock_body .sn_strip_control i {
    color: #1616be;
}

.stock_body_wrapper {
    height: 485px;
    overflow-x: overlay;
    /*            border: 1px solid;*/
    padding: 0px 8px;
}

.stock_header {
    padding: 15px 6px;
    padding-bottom: 0;
}

.update_stock_lead span {
    line-height: 32px;
    display: block;
}

.col_modal_btn {
    margin-top: 16%;
    text-align: center;
}

.inner_model_pop {
    background: #00000082;
}

.inner_model_pop {
    border-radius: 16px 16px 20px 20px;
}

.lead_list .form-control {
    height: inherit;
}

.text_area_custom {
    width: 100%;
    border: 1px solid;
}

.salary_payroll .input-group-text {
    border: 1px solid;
}

.salary_payroll .input-group {
    margin-top: 0;
}

.salary_payroll input {
    margin-top: 0;
}

.modal-body {
    font-size: 12px;
}

.footer_inline {
    display: flex;
}

.footer_inline button {
    padding: 8px 50px 8px 50px !important;
}

.salary_payroll {
    padding: 30px;
    padding-top: 20px;
}

.master span {
    color: #808080;
    display: block;
    margin-top: 1rem;
}

@media (min-width: 576px) {
    .modal-dialog_add_salary {
        max-width: 35%;
        margin: 1.75rem auto;
    }
}

.employee_detail span {
    display: block;
    font-weight: 600;
    font-size: 14px;
    line-height: 25px;
}

.underline {
    border-bottom: 1px solid;
    display: inline !important;
}

.employee_detail small {
    display: block;
    font-size: 12px;
    font-weight: 500;
    line-height: 25px;
}

@media (min-width: 576px) {
    .modal-dialog-management {
        max-width: 80%;
        margin: 1.75rem auto;
    }
}

.salary_mgmt .input-group {
    margin-top: 0;
}

.salary_mgmt label {
    display: block;
    font-weight: 600;
    font-size: 14px;
}

.mg-t-30 {
    margin-top: 30px;
}

.salary_mgmt .form-control-sm {
    font-weight: 500;
}

.mg-r-5p {
    margin-right: 5% !important;
}

.border_wrap {
    border-left: 2px solid;
}

.ht-255 {
    height: 255px;
    overflow-x: overlay;
}

.salary_type input {
    margin-top: 0;
}

.content-pay label {
    margin-bottom: 0;
}

.content-pay .btn-danger,
.content-pay .btn-warning,
.content-pay .btn-success {
    padding: 6px 45px;
}

.content-pay .form-group {
    margin-bottom: 0;
}

.content_height {
    height: calc(100vh - 220px);
}

.receipt_content {
    padding-bottom: 0;
}

.receipt_content .nav-link {
    padding-bottom: 0;
    font-size: 22px;
}

.receipt_content .nav-line {
    border-bottom: 0;
}

.m-r-125 {
    margin-right: 1.25rem !important;
}

.select_option_main {
    width: 100%;
    padding: 6px;
    border: 1px solid;
}

.supp_payment .content {
    margin-left: 0;
    min-height: inherit;
}

@media (min-width: 576px) {
    .supp_payment {
        max-width: 85%;
    }
}

.modal_ac_head .form-control-sm {
    /*   height: 34px;
    padding: 0;*/
}

.customer_pay {
    padding-top: 19%;
}

.customer_pay .btn-success {
    margin-bottom: 10%;
}

.modal_ac_head textarea {
    border: 1px solid black;
}

.customer_pay {
    text-align: center;
    padding-left: 0;
}

/*.tab-navigation { margin-bottom:40px; }
.tab-content { width:200px; height:95px; color:white; font-size:30px; text-align:center; line-height:26px; padding-top:30px;}
#tab-1 { background:red; }
#tab-2 { background:blue; }
#tab-3 { background:gray; }
#tab-4 { background:yellow; color:black; }
#tab-5 { background:purple; }*/

#tab-2 {
    display: none;
}

#mtab-4 {
    display: none;
}

.select-container .form-control {
    height: inherit;
}

.detail_lead ul {
    padding: 0;
}

.detail_lead li {
    list-style: none;
    font-size: 14px;
    line-height: 25px;
}

.p-l-0 {
    padding-left: 0;
}

.border_r_0 {
    border-right: 0;
}

.wd-40 {
    width: 40px !important;
}

.appended_wrapper {
    /*padding-right: 5%;*/
    position: relative;
}

.appended {
    position: absolute;
    bottom: -29px;
    z-index: 99;
}

.field_mar .remove_button {
    position: absolute;
    right: 5%;
    z-index: 99;
    margin-top: 4px;
}

.field_wrapper {
    position: relative;
}

.appended_height {
    height: 435px;
    overflow: overlay;
    padding: 25px 30px;
}

.appended_wrapper hr {
    border-color: black;
    margin-top: 5%;
}

.appended_wrapper_main {
    margin-bottom: 10px;
}

.appended_wrapper_main .appended {
    bottom: -80px;
}

.m-t-26px {
    margin-top: 26px;
}

.appended_wrapper .brief_icon {
    font-size: 15px !important;
}

.step2_hr {
    border-color: black;
    width: 100%;
    margin-bottom: 5px;
    margin-top: 10px;
}

.foot_radio {
    padding-left: 16px;
}

.foot_radio .foot_check_box {
    margin-right: auto;
    margin-top: 1%;
}

.conform_del {
    text-align: center;
}

.conform_del p {
    font-size: 14px;
    color: grey;
    margin-bottom: 0;
}

.conform_del_btn .btn {
    font-size: 15px;
}

.print_bill {
    position: absolute;
    right: 20px;
}

.flex_center {
    justify-content: center !important;
}

.flex_center p {
    font-size: 14px;
    font-weight: 500;
}

.bill_head_detail p,
.bill_head_detail span {
    color: #575d78;
    font-size: 15px;
    font-weight: 500;
}

.bill_head_detail .content-label {
    margin-bottom: 5px;
    font-weight: bold;
}

.bill_body .table-invoice thead > tr td,
.table-invoice thead > tr th {
    font-size: 13px;
}

.bill_body .table-invoice tbody > tr th:nth-child(2),
.table-invoice tbody > tr td:nth-child(2) {
    font-weight: 500;
}

.footer_detail h6 {
    text-decoration: underline;
}

.footer_detail {
    border: 1px solid rgba(230, 231, 239, 0.85);
    padding: 10px 10px;
}

.footer_signature {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    padding: 0 40px;
}

.footer_signature p,
.footer_signature_estimate p {
    font-size: 0.875rem;
    color: black !important;
    font-weight: 500;
    position: relative;
}

.footer_signature p:before,
.footer_signature_estimate p:before {
    content: "";
    position: absolute;
    width: 110px;
    height: 1px;
    background: black;
    top: -5px;
    left: -20%;
}

.table_lr_border {
    border-right: 1px solid rgba(230, 231, 239, 0.85) !important;
    border-left: 1px solid rgba(230, 231, 239, 0.85) !important;
}

.table_lead_head {
    color: black;
}

.footer_signature_estimate {
    display: flex;
    justify-content: flex-end;
    margin-top: 100px;
    padding: 0 40px;
}

.image_wrap p {
    font-weight: bold;
}

.image_setup {
    width: 360px;
    margin: 0 auto;
    height: 300px;
    text-align: center;
}

.image_setup img {
    width: 100%;
    height: 100%;
}

.highlight {
    font-weight: bold;
    display: inline-block;
    border: 10px solid #5556fd !important;
}

.image_setup a {
    height: 100%;
    display: inline-block;
    border: 10px solid grey;
}

.m-t-35px {
    margin-top: 35px;
}

.align-self-center {
    align-self: center;
}

.appended_white span {
    background: white;
    border-color: black;
}

.btn_nxt_prev .btnNext,
.btn_nxt_prev .btnPrevious,
.btn_nxt_prev .btnSubmit {
    color: white !important;
}

.btn_nxt_prev {
    display: flex;
    justify-content: flex-end;
}

.bill_setup_main .nav-tabs,
.academic_tab .nav-tabs {
    display: none;
}

.small_txt {
    display: block;
    font-size: 12px;
}

.btn_nxt_prev .btnNext,
.btn_nxt_prev .btnSubmit {
    margin-left: 25px;
}

.academic_tab .form-control {
    border-color: #d9dfe7;
}

.academic_table .table {
    border-left: 1px solid rgba(230, 231, 239, 0.85);
    border-right: 1px solid rgba(230, 231, 239, 0.85);
}

.table_icon_flex {
    border-bottom: 0 !important;
}

.permission_btn {
    font-size: 8px;
    padding: 2px 5px;
}

.select2-container {
    width: 100% !important;
}

.select2-container--default .select2-results__group {
    font-weight: bold;
}

.margin_0_auto {
    margin: 0 auto;
}

.form_group_pad {
    padding: 0 70px;
}

.border_custom {
    border: 1px solid;
    margin-bottom: 0;
    border-top: 0;
}

.form-group.dropdown-item.d-flex.justify-content-center.border_custom {
    background: white;
}

.form-group.dropdown-item.d-flex.justify-content-center.border_custom p {
    width: 55%;
}

.image_setup_settings {
    width: 100%;
    height: 250px;
}

.tab_hidden {
    display: none;
}

.receipt_bill_header {
    justify-content: start !important;
}

.head_main_bill {
    margin-left: 12%;
}

.bill_head_number_highlight p {
    background: #5556fd;
    padding: 12px 70px;
    color: white;
    font-size: 16px;
}

.text_area_reason textarea {
    width: 100%;
    border-color: black;
}

.text_area_reason p {
    margin: 0;
    color: #8a8a8a;
    font-weight: 600;
    font-size: 12px;
}

.return_space_sales_return {
    padding-bottom: 0;
}

.table-row {
    cursor: pointer;
}

.table-row:hover {
    background: #d6d6d6;
}

.registration_form {
    background: #5556fd;
}

.registration_form h1 {
    color: white;
    font-weight: bold;
    font-size: 28px;
}

.registration_head h2 {
    font-size: 22px;
    margin-bottom: 0em;
}

.registration_main h2 {
    background: #5556fd;
    color: white;
    display: inline-block;
    padding: 10px 18px;
    margin-top: 30px;
    border-radius: 0px 12px 0px 0px;
    text-decoration: underline;
}

.registration_head {
    position: relative;
}

.registration_head:after {
    content: "";
    position: absolute;
    width: 100%;
    left: 0;
    height: 2px;
    background: #5556fd;
    bottom: 0;
}

.form_blk {
    padding: 30px 100px;
}

.justify-space-between {
    justify-content: space-between;
}

.gender_btn .custom-radio {
    margin-right: 20px;
}

.note_document {
    font-weight: bold;
}

.form_blk .form-label {
    font-weight: bold;
}

.submit_registration {
    text-align: right;
    padding-top: 0;
}

.submit_registration .btn {
    font-weight: bold;
}

.reseller_photo {
    width: 200px;
}

.upload_reseller_main .reseller_photo {
    width: 150px;
    margin-left: auto;
}

.upload_reseller_main .if_function_input {
    width: 150px;
    margin-left: auto;
}

.upload_reseller_main .if_function_input input {
    font-size: 11px;
}

.upload_reseller_main .upload_type img {
    height: 130px;
}

.content_sales_billing {
    height: calc(83vh - 130px) !important;
    margin-left: 10px;
    margin-right: 10px;
    box-shadow: 0.4px 1px 3px 0px #cacaca;
    padding-top: 10px;
    margin-top: 8px;
}

.hr-custom_1 {
    margin-top: 55px;
    margin-bottom: 11px;
    border-color: black;
}

.background_table {
    background: #d8d8d8;
}

.background_table_row tr {
    background: #d8d8d8 !important;
}

.particular_bold {
    font-weight: bold;
    display: block;
}

.padding0_5em {
    padding: 0rem 0.5rem;
}

.ht-125 {
    height: 125px;
}

.content_sales_billing_2 {
    height: calc(82vh - 130px) !important;
    margin-left: 10px;
    margin-right: 10px;
    box-shadow: 0.4px 1px 3px 0px #cacaca;
    padding-top: 7px;
    margin-top: 10px;
}

.mg-b-5-i {
    margin-bottom: 5px !important;
}

.mg-t-0-i {
    margin-top: 0 !important;
}

.mg-b-0 i {
    margin-bottom: o !important;
}

.mg-l-0-i {
    margin-left: 0 !important;
}

.mg-r-0 {
    margin-right: 0 !important;
}

.align-self-flex-end {
    align-self: flex-end;
}

.ht-134 {
    height: 134px;
}

.ht-129 {
    height: 129px;
}

.ht-123 {
    height: 123px;
}

.ht-138 {
    height: 138px;
}

.wd-112 {
    width: 112px;
}

.wd-93p {
    width: 93%;
}

.justify-space-evenly {
    justify-content: space-evenly;
}

.pd-t-0-i {
    padding-top: 0 !important;
}

/* .background_main {
    background-image: url(./Template/assets/img/login_1.svg);

} */
.mg-b-0-i {
    margin-bottom: 0 !important;
}

.mg-t-14 {
    margin-top: 14px;
}

.wd-135 {
    width: 135px;
}

.wd-114 {
    width: 114px;
}

.wd-115 {
    width: 115px;
}

.ht-140 {
    height: 140px;
}

.wd-116 {
    width: 116px;
}

.wd-94p {
    width: 94%;
}

.hr-custom_2 {
    margin-top: 18px;
    margin-bottom: 8px;
    border-color: black;
}

.ht-164 {
    height: 164px;
}

.ht-130 {
    height: 130px;
}

.pd-r-0-i {
    padding-right: 0 !important;
}

.pd-l-0-i {
    padding-left: 0 !important;
}

.login_main_1 {
    background-image: url("../img/login_.svg");
    background-size: cover;
    background-position: -100% 25%;
}

.login_head {
    margin-top: 75%;
}

.login_head h2 {
    font-size: 26px;
    font-weight: 500;
}

.login_head h3 {
    font-weight: normal;
    font-size: 15px;
    margin-top: 15px;
}

.login_head input {
    width: 100%;
    border-bottom: 2px solid #525252;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 10px;
}

.forget_password {
    display: flex;
    justify-content: flex-end;
    color: #757575;
    margin-top: 10px;
    text-decoration: underline;
}

.login_main1 a {
    background: #154af5;
    color: white;
    padding: 8px 80px;
    border-radius: 20px;
    margin-top: 10%;
    display: inline-block;
    text-transform: uppercase;
}

.login_main1 button {
    background: #154af5;
    color: white;
    padding: 8px 80px;
    border-radius: 20px;
    margin-top: 10%;
    display: inline-block;
    text-transform: uppercase;
}
.login_person_img img {
    width: 75%;
    margin-top: 20%;
}

.login_person_img {
    margin-top: 40%;
    margin-right: 45px;
}

.login_main1_register {
    text-align: center;
}

.login_main1_register h2 {
    font-weight: 500;
    font-size: 14px;
    margin-top: 556px;
}

.canceled_bill,
.duplicate_copy,
.original_copy {
    position: absolute;
    left: 30px;
}

.canceled_bill p {
    border: 3px solid red;
    border-radius: 10px;
    padding: 2px 15px;
    color: red;
    font-weight: bold;
}

.duplicate_copy p {
    border: 3px solid #2020b5;
    border-radius: 10px;
    padding: 2px 15px;
    color: #2020b5;
    font-weight: bold;
}

.original_copy p {
    border: 3px solid black;
    border-radius: 10px;
    padding: 2px 15px;
    color: black;
    font-weight: bold;
}

.border-right_1 {
    border-right: 1px solid #e9eaf1 !important;
}

.login_head input:focus {
    outline: none;
}

@media all and (max-width: 1199px) {
    .login_main_1 {
        background-position: inherit;
    }

    .login_main1_register h2 {
        margin-top: 510px;
    }
}

@media all and (max-width: 991px) {
    .login_main1_register h2 {
        margin-top: 445px;
    }
}

@media all and (max-width: 768px) {
    .login_person_img {
        display: none;
    }

    .login_main1_register h2 {
        margin-top: 12px;
    }

    .login_main1 {
        text-align: center;
    }

    .login_head {
        margin-top: 20%;
    }
}

.modal_select_option_height {
    padding: 0 !important;
    height: 32px !important;
}

.bd-r-0 {
    border-right: 0 !important;
}

.mg-b-14 {
    margin-bottom: 14px;
}

.bd-l-0-i {
    border-left: 0 !important;
}

.table-bordered-i {
    border: 1px solid rgba(230, 231, 239, 0.85) !important;
}

.table-border-main th {
    border: 1px solid rgba(230, 231, 239, 0.85) !important;
}

.footer_inline_pending button {
    padding: 8px 50px 8px 45px !important;
}

.verification_lead small {
    font-weight: 400;
    font-size: 14px;
}

.v-hidden {
    visibility: hidden;
}

.footer_verification .btn {
    margin-left: auto;
    margin-bottom: 18px;
}
.input-group-text {
    background: #1b52bf;
    color: white;
    min-width: 55px;
    text-align: center !important;
}

.input-group-text i {
    margin-left: 0.5rem;
}

.form-control[readonly] {
    background-color: white;
}

.border-left-white {
    border-left: 3px solid white;
}

.border-right-white {
    border-right: 3px solid white;
}

.table1 thead,
.table1 thead tr,
.table2 thead,
.table2 thead tr {
    background: #1b52bf !important;
    color: white !important;
}

.table1 th,
.table1 td {
    line-height: 0.8 !important;
}

.table2 tbody {
    background: #c1d6ec;
}
.fa-trash {
    color: #c42d1f;
}
.table-summary {
    font-weight: 600;
    font-size: 17px;
    color: #1b52bf;
    line-height: 2.1;
    padding-left: 0.3rem;
}

.table-search-head select,
.table-search-head input[type="text"] {
    height: 30px;
}

.table-search-head input[type="text"] {
    width: 150px;
}

.table-search-head ul {
    margin: 0;
    list-style: none;
    left: 0;
}

.table-search-head ul li a {
    background: #8db8ee;
    padding: 3px;
    font-weight: 600;
    margin: 2px;
    border: 1px solid black;
    font-size: 15px;
}

.table-search-head ul li {
    float: left;
}

.table-print button {
    border: 1px solid silver !important;
    color: rgb(58, 56, 56);
}
