@import url("https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins:400,700|Lato:300,400,700&display=swap");

body {
    font-family: "Lato", sans-serif;
    font-weight: normal;
    font-style: normal;
    color: #6a6972;
    overflow-x: hidden;
}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

a:focus,
input:focus,
textarea:focus,
button:focus {
    text-decoration: none;
    outline: none;
}

a:focus,
a:hover {
    text-decoration: none;
}

i,
span,
a {
    display: inline-block;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    color: #2e2e2e;
    margin: 0px;
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 28px;
}

h4 {
    font-size: 22px;
}

h5 {
    font-size: 18px;
}

h6 {
    font-size: 16px;
}

ul,
ol {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

p {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: #6a6972;
    margin: 0px;
}

.bg_cover {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

/*===== All Slick Slide Outline Style =====*/
.slick-slide {
    outline: 0;
}

/*===== All Button Style =====*/
.main-btn {
    display: inline-block;
    font-weight: 500;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 0 25px;
    font-size: 16px;
    line-height: 48px;
    border-radius: 8px;
    border: 0;
    color: #fff;
    cursor: pointer;
    z-index: 5;
    -webkit-transition: all 0.4s ease-out 0s;
    transition: all 0.4s ease-out 0s;
    background: -webkit-gradient(
        linear,
        left top,
        right top,
        from(#4f7edb),
        color-stop(50%, #1b52bf),
        to(#4f7edb)
    );
    background: linear-gradient(to right, #4f7edb 0%, #1b52bf 50%);
    background-size: 200%;
}

.main-btn:hover {
    color: #fff;
    background-position: right center;
}

/*===== All SECTION TITLE Style =====*/
.section-title .line {
    background: linear-gradient(115deg, #305fdf 35%, #0c2b81 70%);
    width: 150px;
    height: 6px;
    margin-bottom: -4px !important;
}

.section-title .title {
    font-weight: 700;
    line-height: 30px;
}

@media (max-width: 767px) {
    .section-title .title {
        /* font-size: 20px; */
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .section-title .title {
        /* font-size: 30px; */
    }
}

.section-title .title span {
    font-weight: 400;
    display: contents;
}

/*===== All Section Title Style =====*/
.section-title .sub-title {
    font-size: 18px;
    font-weight: 400;
    color: #361cc1;
    text-transform: uppercase;
}

@media (max-width: 767px) {
    .section-title .sub-title {
        font-size: 16px;
    }
}

.section-title .title {
    /* font-size: 32px; */
    padding-top: 10px;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .section-title .title {
        /* font-size: 30px; */
    }
}

@media (max-width: 767px) {
    .section-title .title {
        /* font-size: 24px; */
    }
}

.section-title .title span {
    font-weight: 400;
    display: contents;
}

/*===== All Slick Slide Outline Style =====*/
.slick-slide {
    outline: 0;
}

/*===== All Preloader Style =====*/
.preloader {
    /* Body Overlay */
    position: fixed;
    top: 0;
    left: 0;
    display: table;
    height: 100%;
    width: 100%;
    /* Change Background Color */
    background: #fff;
    z-index: 99999;
}

.preloader .loader {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.preloader .loader .ytp-spinner {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 64px;
    margin-left: -32px;
    z-index: 18;
    pointer-events: none;
}

.preloader .loader .ytp-spinner .ytp-spinner-container {
    pointer-events: none;
    position: absolute;
    width: 100%;
    padding-bottom: 100%;
    top: 50%;
    left: 50%;
    margin-top: -50%;
    margin-left: -50%;
    -webkit-animation: ytp-spinner-linspin 1568.23529647ms linear infinite;
    animation: ytp-spinner-linspin 1568.23529647ms linear infinite;
}

.preloader .loader .ytp-spinner .ytp-spinner-container .ytp-spinner-rotator {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-animation: ytp-spinner-easespin 5332ms cubic-bezier(0.4, 0, 0.2, 1)
        infinite both;
    animation: ytp-spinner-easespin 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite
        both;
}

.preloader
    .loader
    .ytp-spinner
    .ytp-spinner-container
    .ytp-spinner-rotator
    .ytp-spinner-left {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    overflow: hidden;
    right: 50%;
}

.preloader
    .loader
    .ytp-spinner
    .ytp-spinner-container
    .ytp-spinner-rotator
    .ytp-spinner-right {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    left: 50%;
}

.preloader .loader .ytp-spinner-circle {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    width: 200%;
    height: 100%;
    border-style: solid;
    /* Spinner Color */
    border-color: #361cc1 #361cc1 #e1e1e1;
    border-radius: 50%;
    border-width: 6px;
}

.preloader .loader .ytp-spinner-left .ytp-spinner-circle {
    left: 0;
    right: -100%;
    border-right-color: #e1e1e1;
    -webkit-animation: ytp-spinner-left-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1)
        infinite both;
    animation: ytp-spinner-left-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1)
        infinite both;
}

.preloader .loader .ytp-spinner-right .ytp-spinner-circle {
    left: -100%;
    right: 0;
    border-left-color: #e1e1e1;
    -webkit-animation: ytp-right-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1)
        infinite both;
    animation: ytp-right-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
}

/* Preloader Animations */
@-webkit-keyframes ytp-spinner-linspin {
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes ytp-spinner-linspin {
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-webkit-keyframes ytp-spinner-easespin {
    12.5% {
        -webkit-transform: rotate(135deg);
        transform: rotate(135deg);
    }

    25% {
        -webkit-transform: rotate(270deg);
        transform: rotate(270deg);
    }

    37.5% {
        -webkit-transform: rotate(405deg);
        transform: rotate(405deg);
    }

    50% {
        -webkit-transform: rotate(540deg);
        transform: rotate(540deg);
    }

    62.5% {
        -webkit-transform: rotate(675deg);
        transform: rotate(675deg);
    }

    75% {
        -webkit-transform: rotate(810deg);
        transform: rotate(810deg);
    }

    87.5% {
        -webkit-transform: rotate(945deg);
        transform: rotate(945deg);
    }

    to {
        -webkit-transform: rotate(1080deg);
        transform: rotate(1080deg);
    }
}

@keyframes ytp-spinner-easespin {
    12.5% {
        -webkit-transform: rotate(135deg);
        transform: rotate(135deg);
    }

    25% {
        -webkit-transform: rotate(270deg);
        transform: rotate(270deg);
    }

    37.5% {
        -webkit-transform: rotate(405deg);
        transform: rotate(405deg);
    }

    50% {
        -webkit-transform: rotate(540deg);
        transform: rotate(540deg);
    }

    62.5% {
        -webkit-transform: rotate(675deg);
        transform: rotate(675deg);
    }

    75% {
        -webkit-transform: rotate(810deg);
        transform: rotate(810deg);
    }

    87.5% {
        -webkit-transform: rotate(945deg);
        transform: rotate(945deg);
    }

    to {
        -webkit-transform: rotate(1080deg);
        transform: rotate(1080deg);
    }
}

@-webkit-keyframes ytp-spinner-left-spin {
    0% {
        -webkit-transform: rotate(130deg);
        transform: rotate(130deg);
    }

    50% {
        -webkit-transform: rotate(-5deg);
        transform: rotate(-5deg);
    }

    to {
        -webkit-transform: rotate(130deg);
        transform: rotate(130deg);
    }
}

@keyframes ytp-spinner-left-spin {
    0% {
        -webkit-transform: rotate(130deg);
        transform: rotate(130deg);
    }

    50% {
        -webkit-transform: rotate(-5deg);
        transform: rotate(-5deg);
    }

    to {
        -webkit-transform: rotate(130deg);
        transform: rotate(130deg);
    }
}

@-webkit-keyframes ytp-right-spin {
    0% {
        -webkit-transform: rotate(-130deg);
        transform: rotate(-130deg);
    }

    50% {
        -webkit-transform: rotate(5deg);
        transform: rotate(5deg);
    }

    to {
        -webkit-transform: rotate(-130deg);
        transform: rotate(-130deg);
    }
}

@keyframes ytp-right-spin {
    0% {
        -webkit-transform: rotate(-130deg);
        transform: rotate(-130deg);
    }

    50% {
        -webkit-transform: rotate(5deg);
        transform: rotate(5deg);
    }

    to {
        -webkit-transform: rotate(-130deg);
        transform: rotate(-130deg);
    }
}

/*===========================
      02.HEADER css
===========================*/
/*===== NAVBAR =====*/
.navbar-area {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    -webkit-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}

.sticky {
    position: fixed;
    z-index: 99;
    background-color: #fff;
    -webkit-box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.05);
    -webkit-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}

.sticky .navbar {
    padding: 10px 0;
}

.navbar {
    padding: 10px 0;
    border-radius: 5px;
    position: static;
    -webkit-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}

.navbar-brand {
    padding: 0;
}

.navbar-toggler {
    padding: 0;
}

.navbar-toggler .toggler-icon {
    width: 30px;
    height: 2px;
    background-color: #fff;
    display: block;
    margin: 5px 0;
    position: relative;
    -webkit-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}

.navbar-toggler.active .toggler-icon:nth-of-type(1) {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 7px;
}

.navbar-toggler.active .toggler-icon:nth-of-type(2) {
    opacity: 0;
}

.navbar-toggler.active .toggler-icon:nth-of-type(3) {
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
    top: -7px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .navbar-collapse {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: #fff;
        z-index: 9;
        -webkit-box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.1);
        box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.1);
        padding: 5px 12px;
    }
}

@media (max-width: 767px) {
    .navbar-collapse {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: #fff;
        z-index: 9;
        -webkit-box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.1);
        box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.1);
        padding: 5px 12px;
    }
}
.top-nav {
    background: #1b52bf;
}
.top-nav ul {
    left: 0;
    list-style: none;
}
.top-nav ul li {
    float: left;
    padding-right: 1.2rem;
}
.top-nav ul li a,
.top-nav ul li a:hover {
    color: rgb(238, 237, 237);
    font-size: 13px;
    line-height: 3;
}
.navbar-nav .nav-item {
    margin-right: 14px;
}
.top-nav .login-button {
    background: #133a89;
    color: white;
    padding: 0px 25px 0px 25px;
    border: 1px solid white;
    margin: 5px 0px 5px 0px;
    border-radius: 4px;
}
.navbar .nav-link {
    text-transform: uppercase;
    font-weight: 600 !important;
    color: #1b52bf !important;
    opacity: 0.8;
}
.navbar .active .nav-link {
    opacity: 1 !important;
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .navbar-nav .nav-item {
        margin-right: 30px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .navbar-nav .nav-item {
        margin: 0;
    }
}

@media (max-width: 767px) {
    .navbar-nav .nav-item {
        margin: 0;
    }
}

.navbar-nav .nav-item a {
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    -webkit-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
    padding: 10px 0;
    /*position: relative;*/
    font-family: "Poppins", sans-serif;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .navbar-nav .nav-item a {
        display: block;
        padding: 4px 0;
        color: #2e2e2e;
    }
}

@media (max-width: 767px) {
    .navbar-nav .nav-item a {
        display: block;
        padding: 4px 0;
        color: #2e2e2e;
    }
}

.navbar-nav .nav-item:hover .sub-menu {
    top: 100%;
    opacity: 1;
    visibility: visible;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .navbar-nav .nav-item:hover .sub-menu {
        top: 0;
    }
}

@media (max-width: 767px) {
    .navbar-nav .nav-item:hover .sub-menu {
        top: 0;
    }
}

.navbar-nav .nav-item .sub-menu {
    width: 200px;
    background-color: #fff;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 110%;
    left: 0;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .navbar-nav .nav-item .sub-menu {
        position: relative;
        width: 100%;
        top: 0;
        display: none;
        opacity: 1;
        visibility: visible;
    }
}

@media (max-width: 767px) {
    .navbar-nav .nav-item .sub-menu {
        position: relative;
        width: 100%;
        top: 0;
        display: none;
        opacity: 1;
        visibility: visible;
    }
}

.navbar-nav .nav-item .sub-menu li {
    display: block;
}

.navbar-nav .nav-item .sub-menu li a {
    display: block;
    padding: 8px 20px;
    color: #2e2e2e;
}

.navbar-nav .nav-item .sub-menu li a.active,
.navbar-nav .nav-item .sub-menu li a:hover {
    padding-left: 25px;
    color: #361cc1;
}

.navbar-nav .sub-nav-toggler {
    display: none;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .navbar-nav .sub-nav-toggler {
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        background: none;
        color: #2e2e2e;
        font-size: 18px;
        border: 0;
        width: 30px;
        height: 30px;
    }
}

@media (max-width: 767px) {
    .navbar-nav .sub-nav-toggler {
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        background: none;
        color: #2e2e2e;
        font-size: 18px;
        border: 0;
        width: 30px;
        height: 30px;
    }
}

.navbar-nav .sub-nav-toggler span {
    width: 8px;
    height: 8px;
    border-left: 1px solid #2e2e2e;
    border-bottom: 1px solid #2e2e2e;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    position: relative;
    top: -5px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .navbar-btn {
        position: absolute;
        top: 50%;
        right: 50px;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
    }
}

@media (max-width: 767px) {
    .navbar-btn {
        position: absolute;
        top: 50%;
        right: 50px;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
    }
}

.navbar-btn .main-btn {
    line-height: 21px;
    border: 1px solid;
    border-radius: 0px;
    padding: 5px 17px !important;
    font-size: 13px;
}

.navbar-btn .main-btn:hover {
    color: #fff;
    background-position: right center;
}

.sticky .navbar-toggler .toggler-icon {
    background-color: #2e2e2e;
}

.sticky .navbar-nav .nav-item a {
    color: #2e2e2e;
}

.sticky .navbar-nav .nav-item.active > a,
.sticky .navbar-nav .nav-item:hover > a {
    color: #361cc1;
}

.has_children .drop_down {
    opacity: 0;
    position: absolute;
    left: 0;
    right: 0;
    top: 95%;
    width: 100vw;
    background: #0a0a56db;
    padding: 3%;
    -webkit-transition: 0.4s ease;
    transition: 0.4s ease;
    display: block;
    visibility: hidden;
    -webkit-transform: translateY(-18px);
    transform: translateY(-18px);
}

.has_children:hover .drop_down {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateY(0);
    transform: translateY(0);
}

.children_content {
    border-right: 2px solid white;
}

.children_content h4 {
    color: white;
    text-decoration: underline;
}

.children_content p {
    color: white;
    font-size: 14px;
    line-height: 22px;
    margin-top: 5%;
}

.children_content .first_btn a {
    width: inherit;
    border-radius: inherit;
    border-radius: 0px 15px;
    margin-top: 5%;
    font-size: 18px;
    color: white !important;
}

/*.children_content .first_btn a:last-child{
background:inherit;
}*/
.children_content:before {
    position: absolute;
    content: "";
    height: 85%;
    width: 2px;
    background: white;
    bottom: 0;
    left: -2%;
}

.border_none {
    border: none;
}

.none_after:before {
    content: none;
}

.has_children .sticky_acc {
    background: #351cc1;
    color: white !important;
}

@media (min-width: 576px) {
    .modal-dialog {
        max-width: 800px;
        margin: 1.75rem auto;
    }
}

.tab_left_banner_lead h2 {
    font-size: 24px;
    color: white;
    text-align: center;
}

.tab_left_banner_lead h2 span {
    display: block;
    font-weight: 500;
}

.tab_left_banner_lead {
    background: #1b51be;
    padding: 10% 2% 25% 0%;
    background-image: url(../images/wire.png);
    background-repeat: no-repeat;
    right: 0;
    background-position: 120% 55%;
    height: 490px;
}

.tab_banner img {
    width: 70%;
    display: block;
    margin: 0 auto;
    padding-top: 10%;
}

.modal_with_tab .modal-body nav {
    position: absolute;
    right: 0;
    top: 10%;
    z-index: 9;
    width: 35%;
}

.modal_with_tab .tab_form .form_head input {
    width: 100%;
    border-left: 0;
    border-top: 0;
    border-color: #828282;
    padding: 8px;
    background: #e8e9ea;
    border-width: 1px;
    border-right: 0;
    padding-top: 0 !important;
    padding-bottom: 2px !important;
}

.btn_logg .main_in {
    color: white;
    background: #1b51be;
    padding: 10px 0px;
    font-weight: 800;
}

.bottom_logg_href {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.bottom_logg_href a {
    color: black !important;
}

.tab_form h3 {
    font-weight: 400;
}

.tab_form {
    padding: 32% 15% 0% 10%;
}

.modal_with_tab .nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    color: white;
    background-color: #1b51be;
    border-radius: 0;
    border: 2px solid #1b51be;
}

.modal_with_tab .nav-link {
    padding: 0.5rem 1rem;
    border: 1px solid;
    border-radius: 0;
    line-height: 10px;
    width: 40%;
    text-align: center;
}

.modal_with_tab .nav-tabs {
    border-bottom: 0;
}

.modal_with_tab .nav-tabs a:first-child {
    margin-right: 5%;
}

.modal_with_tab .modal-header {
    border-bottom: 0;
}

.tab_form h3 {
    margin-bottom: 10%;
    font-size: 22px;
    display: block;
    color: black;
}

.modal_with_tab .modal-body {
    padding: 0;
}

.modal_with_tab button.close {
    position: absolute;
    top: 2%;
    right: 8%;
}

.bottom_logg_href a {
    font-size: 12px;
    font-weight: 800;
    text-decoration: underline;
}

.bg_light_gr {
    background: #e8e9ea;
}

.no-pad-r {
    padding-right: 0;
}

/*===== HEADER HERO =====*/
.header-hero {
    position: relative;
    z-index: 5;
    background-position: bottom center;
}

#particles-1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.header-hero-content {
    padding-top: 90px;
}

@media (max-width: 767px) {
    .header-hero-content {
        padding-top: 90px;
    }
}

.header-hero-content .header-sub-title {
    font-size: 28px;
    font-weight: 300;
    color: #fff;
}

@media (max-width: 767px) {
    .header-hero-content .header-sub-title {
        font-size: 24px;
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .header-hero-content .header-sub-title {
        font-size: 30px;
    }
}

.header-hero-content .header-title {
    font-size: 38px;
    font-weight: 700;
    color: #fff;
}

@media (max-width: 767px) {
    .header-hero-content .header-title {
        font-size: 24px;
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .header-hero-content .header-title {
        font-size: 30px;
    }
}

.header-hero-content .text {
    color: #fff;
    margin-top: 15px;
}

.header-hero-content .main-btn {
    margin-top: 40px;
}

.header-hero-image {
    padding-top: 25px;
}

.header-hero-image img {
    max-width: 100%;
}

@media (max-width: 767px) {
    .header-hero-image img {
        max-width: 100%;
    }
}

@media (max-width: 767px) {
    .header-hero-image {
        padding-top: 30px;
    }
}

.bg_cover {
    padding-bottom: 10%;
}

/*===========================
      03.BRAND css
===========================*/
@media (max-width: 767px) {
    .brand-logo {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
}

.single-logo {
    padding: 0 30px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .single-logo {
        padding: 0 15px;
    }
}

@media (max-width: 767px) {
    .single-logo {
        padding: 0 15px;
    }
}

@media (max-width: 767px) {
    .single-logo {
        width: 50%;
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .single-logo {
        width: 33.33%;
    }
}

.single-logo img {
    width: 100%;
    opacity: 0.5;
    -webkit-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}

.single-logo:hover img {
    opacity: 1;
}

.navbar-brand img {
    width: 50px;
}

/*.................slider.......*/
@media (min-width: 1199px) {
    .header-hero-image img {
        width: 90%;
    }
}

.position_slider {
    position: absolute;
    top: 10%;
    width: 487px !important;
    left: 11.7%;
}

.carousel-item img {
    height: 295px;
}

.header-hero-image {
    position: relative;
}

.carousel-control-prev {
    display: none;
}

.carousel-control-next {
    display: none;
}

.single_man {
    height: 95%;
    padding-top: 15%;
}

.single_man img {
    height: 100%;
    width: 300px;
}

.first_btn {
    text-align: center;
}

.first_btn a {
    width: 30%;
    margin: 20px;
    margin-top: 0;
    margin-right: 12%;
    line-height: 40px;
    font-family: "Bebas Neue", cursive !important;
    font-size: 20px;
}

.main_btn2 a {
    background: -webkit-gradient(
        linear,
        left top,
        right top,
        from(#3149d6),
        color-stop(50%, #2f74e8),
        to(#305fdf)
    );
    background: linear-gradient(
        to right,
        #3149d6 0%,
        #2f74e8 50%,
        #305fdf 100%
    );
}

@media (max-width: 1199px) {
    .position_slider {
        width: 451px !important;
    }

    .position_slider {
        left: 13%;
    }
}

@media (max-width: 991px) {
    .carousel-item img {
        height: 308px;
    }

    .position_slider {
        width: 511px !important;
    }

    .single_man {
        display: none;
    }

    .features {
        margin-top: 0 !important;
    }
}

@media (max-width: 768px) {
    .features_blk_overlay {
        width: auto !important;
    }
}

@media (max-width: 767px) {
    .position_slider {
        top: 12%;
        width: 378px !important;
    }

    .carousel-item img {
        height: 228px;
    }

    .features_blk:before,
    .features_blk_overlay:before,
    .overlay_baloon:after {
        content: none !important;
    }

    .overlay_baloon {
        display: none;
    }

    .features_blk_overlay {
        border-radius: 40px !important;
        left: 5% !important;
    }

    .features_blk {
        margin-top: 10% !important;
    }

    .about-area {
        padding-top: 0 !important;
    }

    .product_blk {
        margin-bottom: 10% !important;
    }

    .plans_head h4 {
        margin-top: 0 !important;
        margin-bottom: 10% !important;
    }

    .section-title .title {
        /* padding-bottom: 10px; */
    }
}

@media (max-width: 575px) {
    .carousel-item img {
        height: 242px;
    }

    .position_slider {
        width: 74% !important;
    }
}

@media (max-width: 559px) {
    .carousel-item img {
        height: 180px;
    }
}

@media (max-width: 414px) {
    .first_btn a {
        font-size: 16px;
    }
}

@media (max-width: 375px) {
    .carousel-item img {
        height: 168px;
    }
}

@media (max-width: 360px) {
    .carousel-item img {
        height: 160px;
    }
}

@media (max-width: 320px) {
    .carousel-item img {
        height: 140px;
    }

    .position_slider {
        top: 13%;
    }
}

@media only screen and (min-width: 419px) and (max-width: 559px) {
    .carousel-item img {
        height: 235px;
    }
}

/*...............fearures_section..........*/
.features {
    margin-top: -10%;
}

.features_point i {
    border: 1px solid;
    border-radius: 20px;
    padding: 3px;
    color: #2f70e7;
    font-size: 10px;
    vertical-align: text-bottom;
    margin-right: 4%;
}

.features_blk {
    background-color: #fbfbfb;
    padding: 90px 2px 100px 30px;
    position: relative;
    -webkit-box-shadow: 1px 0px 11px 0px;
    box-shadow: 1px 0px 11px 0px;
    border: 3px solid white;
    border-bottom: 0;
    margin-top: 15%;
}

.features_blk li {
    line-height: 30px;
}

.features_point ul li span {
    color: #2f70e7;
    font-style: italic;
}

.features_blk_overlay {
    position: absolute;
    width: 95%;
    top: 3%;
    left: -23px;
    background: #305fdf;
    background: linear-gradient(115deg, #305fdf 35%, #0c2b81 70%);
    border-radius: 40px 40px 40px 0px;
    padding: 10px 18px;
    text-align: center;
    -webkit-box-shadow: 1px 1px 7px 1px;
    box-shadow: 1px 1px 7px 1px;
}

.features_blk_overlay h5 {
    color: #fafafa;
    font-size: 14px;
    font-style: italic;
}

.features_blk_overlay:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    background: #305fdf;
    left: 0;
    top: 80%;
}

.features_blk:before {
    content: "";
    position: absolute;
    top: 18%;
    left: -23px;
    height: 22px;
    width: 20px;
    z-index: 9;
    background: #0c2b81;
    border-radius: 20px 2px 2px 20px;
}

.features_blk:after {
    content: "";
    position: absolute;
    width: 0;
    bottom: 0;
    right: -7px;
    border-bottom: 120px solid #10318a;
    border-left: 120px solid transparent;
}

.overlay_line_right {
    position: absolute;
    content: "";
    height: 20px;
    width: 4px;
    background: #352dc9;
    right: -7px;
    bottom: 30%;
}

.overlay_baloon {
    position: absolute;
    height: 60px;
    width: 2px;
    background: grey;
    bottom: -18%;
    left: 45%;
}

.overlay_baloon:after {
    position: absolute;
    content: "";
    width: 20px;
    height: 20px;
    background: #305fdf;
    background: linear-gradient(115deg, #305fdf 35%, #0c2b81 70%);
    bottom: -30%;
    left: -8px;
    border-radius: 20px;
}

.baloon_tray {
    border: 1px solid;
    padding: 6px;
    margin-top: 5.6%;
    border-radius: 20px;
    width: 100%;
}

/*...................product.................*/
.plans {
    background-color: #e4e4e4;
    padding-top: 2%;
    padding-bottom: 2%;
    position: relative;
    overflow: hidden;
}

.plans_head h4 {
    text-align: center;
    text-decoration: underline;
    color: #40515e;
    margin-bottom: 5%;
    margin-top: 5%;
    font-size: 24px;
}

.plans .silver {
    background-color: #99a8c0;
}

.plans .gold {
    background-color: #f0b854;
}

.plans .platinum {
    background-color: #374957;
}

.product_blk h6 {
    color: white;
    padding-bottom: 40%;
    font-size: 20px;
}

.product_blk ul li span {
    display: block;
}

.product_blk ul {
    text-align: center;
}

.product_blk ul li {
    color: white;
    border-top: 1px solid;
    font-size: 15px;
    font-weight: 800;
    padding: 10px 0px;
}

.product_blk ul li:last-child {
    border-bottom: 1px solid;
}

.subscribe_btn {
    text-align: center;
}

.subscribe_btn a {
    background: white;
    padding: 6px 20px;
    color: #70777c;
    border-radius: 5px 5px;
    margin-top: 20%;
    font-family: "Bebas Neue", cursive;
    font-size: 20px;
}

.gold .subscribe_btn a {
    color: #f0b854;
}

.plans .product_list {
    text-align: center;
}

.plans .product_list ul {
    display: inline-block;
}

.product_blk {
    padding: 20% 10% 20% 10%;
    position: relative;
    border-radius: 10px;
    z-index: 9;
    width: 65%;
    margin: 0 auto;
}

.product_blk_overlay {
    position: absolute;
    width: 80px;
    height: 135px;
    background: white;
    top: -3%;
    right: 12%;
}

.product_blk_overlay:after {
    /*         position: absolute;
    content: "";
    width: 0;
    height: 0;
    bottom: -30%;
    right: -50%;
    border-style: solid;
    border-width: 0 80px 80px 80px;
    border-color: transparent transparent #99a8c0 transparent;*/
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    bottom: -17%;
    right: -29%;
    border-style: solid;
    border-width: 0 63px 63px 63px;
    border-color: transparent transparent #99a8c0 transparent;
}

.product_blk_overlay:before {
    position: absolute;
    content: "";
    top: 0%;
    left: -15%;
    border-bottom: 12px solid #70777c;
    border-left: 12px solid transparent;
}

.product_blk .product_blk_overlay p {
    font-size: 22px;
    font-weight: 800;
    text-align: center;
    margin-top: 30%;
    color: #324553;
}

.product_blk .product_blk_overlay p span {
    display: block;
}

.overlay_gold:after {
    border-color: transparent transparent #f0b854 transparent;
}

.overlay_platinum:after {
    border-color: transparent transparent #374957 transparent;
}

.plans .section-title {
    text-align: right;
}

.plans .section-title .line {
    float: right;
}

.plans .section-title .title {
    clear: both;
}

.plans .about-shape-2 {
    z-index: 9;
    top: 47%;
    left: -12%;
}

.plans .about-shape-2 img {
    opacity: 0.3;
    width: 100%;
    height: 17%;
}

.about-shape-custom {
    position: absolute;
    top: 28%;
    right: -19%;
    width: 35%;
    height: 100%;
    z-index: 9;
}

.about-shape-custom img {
    opacity: 0.3;
    width: 100%;
    height: 17%;
}

/*..................*/
/*...............why choose us..............*/
.choose_us {
    text-align: center;
}

.choose_counter {
    padding: 5% 5%;
}

/*===========================
      04.SERVICES css
===========================*/
.single-services {
    background-color: #fff;
    -webkit-box-shadow: 0px 5px 30px 0px rgba(167, 167, 167, 0.16);
    box-shadow: 0px 5px 30px 0px rgba(167, 167, 167, 0.16);
    -webkit-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
    padding: 50px 30px;
    border: 2px solid transparent;
    border-radius: 8px;
}

@media (max-width: 767px) {
    .single-services {
        padding: 20px 20px 30px;
    }
}

.single-services .services-icon {
    display: inline-block;
    position: relative;
}

.single-services .services-icon img {
    -webkit-transition: all 0.4s ease-out 0s;
    transition: all 0.4s ease-out 0s;
}

.single-services .services-icon .shape-1 {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.single-services .services-icon i {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 34px;
    color: #fff;
}

.single-services .services-content .services-title a {
    font-size: 26px;
    font-weight: 700;
    color: #2e2e2e;
    -webkit-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .single-services .services-content .services-title a {
        font-size: 24px;
    }
}

@media (max-width: 767px) {
    .single-services .services-content .services-title a {
        font-size: 20px;
    }
}

.single-services .services-content .services-title a:hover {
    color: #361cc1;
}

.single-services .services-content .text {
    margin-top: 30px;
}

@media (max-width: 767px) {
    .single-services .services-content .text {
        margin-top: 20px;
    }
}

.single-services .services-content .more {
    margin-top: 30px;
    font-size: 16px;
    font-weight: 400;
    color: #2e2e2e;
    -webkit-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}

.single-services .services-content .more i {
    margin-left: 10px;
}

.single-services .services-content .more:hover {
    color: #361cc1;
}

.single-services:hover {
    border-color: #fe7a7b;
}

.single-services:hover .services-icon .shape {
    -webkit-transform: rotate(25deg);
    transform: rotate(25deg);
}

/*===========================
      05.ABOUT css
===========================*/
.about-area {
    position: relative;
    z-index: 5;
    padding-bottom: 2%;
}

.about-shape-1 {
    position: absolute;
    top: 0;
    right: 0;
    width: 35%;
    height: 100%;
    z-index: -1;
}

.about-shape-1 img {
    width: 100%;
}

@media (max-width: 767px) {
    .about-shape-1 {
        display: none;
    }
}

.about-shape-2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 35%;
    height: 100%;
    z-index: -1;
}

.about-shape-2 img {
    width: 100%;
}

@media (max-width: 767px) {
    .about-shape-2 {
        display: none;
    }
}

.about-content {
    max-width: 480px;
}

.about-content .text {
    margin-top: 15px;
}

.about-content .main-btn {
    background: -webkit-gradient(
        linear,
        left top,
        right top,
        from(#fe8464),
        color-stop(50%, #fe6e9a),
        to(#fe8464)
    );
    background: linear-gradient(
        to right,
        #fe8464 0%,
        #fe6e9a 50%,
        #fe8464 100%
    );
    background-size: 200%;
    height: 50px;
    line-height: 50px;
    padding: 0 35px;
    margin-top: 40px;
}

.about-content .main-btn:hover {
    background-position: right center;
}

.about-area .first_btn a {
    width: inherit;
    padding: 0px 60px;
}

/*===========================
    06.VIDEO COUNTER css
===========================*/
.video-content {
    position: relative;
    padding-bottom: 30px;
}

.video-content .dots {
    position: absolute;
    left: -30px;
    bottom: 0;
}

.video-wrapper {
    margin-right: 15px;
    position: relative;
    -webkit-box-shadow: 0px 13px 46px 0px rgba(113, 113, 113, 0.33);
    box-shadow: 0px 13px 46px 0px rgba(113, 113, 113, 0.33);
    border-radius: 10px;
    overflow: hidden;
}

@media (max-width: 767px) {
    .video-wrapper {
        margin-right: 0;
    }
}

.video-wrapper .video-image img {
    width: 100%;
}

.video-wrapper .video-icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: -webkit-gradient(
        linear,
        left top,
        right top,
        from(rgba(54, 28, 193, 0.2)),
        to(rgba(46, 130, 239, 0.2))
    );
    background: linear-gradient(
        to right,
        rgba(54, 28, 193, 0.2) 0%,
        rgba(46, 130, 239, 0.2) 100%
    );
}

.video-wrapper .video-icon a {
    width: 55px;
    height: 55px;
    line-height: 55px;
    text-align: center;
    border-radius: 50%;
    background-color: #fff;
    color: #fe8464;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.counter-wrapper {
    padding-left: 70px;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .counter-wrapper {
        padding-left: 0;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .counter-wrapper {
        padding-left: 0;
    }
}

@media (max-width: 767px) {
    .counter-wrapper {
        padding-left: 0;
    }
}

.counter-wrapper .counter-content .text {
    margin-top: 35px;
}

.counter-wrapper .single-counter {
    max-width: 155px;
    height: 120px;
    border-radius: 60px;
    position: relative;
    z-index: 5;
    margin-top: 60px;
}

@media (max-width: 767px) {
    .counter-wrapper .single-counter {
        max-width: 100px;
        height: 80px;
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .counter-wrapper .single-counter {
        max-width: 155px;
        height: 120px;
    }
}

.counter-wrapper .single-counter::before {
    position: absolute;
    content: "";
    width: 155px;
    height: 120px;
    border-radius: 60px;
    top: 0;
    left: 0;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    z-index: -1;
}

@media (max-width: 767px) {
    .counter-wrapper .single-counter::before {
        max-width: 100px;
        height: 80px;
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .counter-wrapper .single-counter::before {
        max-width: 155px;
        height: 120px;
    }
}

.counter-wrapper .single-counter.counter-color-1::before {
    background: -webkit-gradient(
        linear,
        left top,
        left bottom,
        from(#33c8c1),
        to(#1b52bf)
    );
    background: linear-gradient(#33c8c1 0%, #1b52bf 100%);
}

.counter-wrapper .single-counter.counter-color-2::before {
    background: -webkit-gradient(
        linear,
        left top,
        left bottom,
        from(#fe8464),
        to(#fe6e9a)
    );
    background: linear-gradient(#fe8464 0%, #fe6e9a 100%);
}

.counter-wrapper .single-counter.counter-color-3::before {
    background: -webkit-gradient(
        linear,
        left top,
        left bottom,
        from(#361cc1),
        to(#2e82ef)
    );
    background: linear-gradient(#361cc1 0%, #2e82ef 100%);
}

.counter-wrapper .single-counter .count {
    font-size: 22px;
    font-weight: 700;
    color: #fff;
}

@media (max-width: 767px) {
    .counter-wrapper .single-counter .count {
        font-size: 18px;
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .counter-wrapper .single-counter .count {
        font-size: 22px;
    }
}

.counter-wrapper .single-counter .text {
    font-size: 16px;
    color: #fff;
}

@media (max-width: 767px) {
    .counter-wrapper .single-counter .text {
        font-size: 14px;
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .counter-wrapper .single-counter .text {
        font-size: 16px;
    }
}

/*===========================
       07.TEAM css
===========================*/
.single-team {
    -webkit-box-shadow: 0px 0px 30px 0px rgba(167, 167, 167, 0.16);
    box-shadow: 0px 0px 30px 0px rgba(167, 167, 167, 0.16);
    overflow: hidden;
    border-radius: 10px;
}

.single-team .team-image {
    position: relative;
}

.single-team .team-image img {
    width: 100%;
}

.single-team .team-image .social {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 25px;
}

.single-team .team-image .social ul {
    background-color: rgba(255, 255, 255, 0.23);
    display: inline-block;
    border-radius: 50px;
    padding: 0 13px;
    position: relative;
    z-index: 5;
    overflow: hidden;
}

.single-team .team-image .social ul::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    z-index: -1;
    top: 0;
    left: 0;
    background: -webkit-gradient(
        linear,
        left top,
        left bottom,
        from(#fe8464),
        to(#fe6e9a)
    );
    background: linear-gradient(#fe8464 0%, #fe6e9a 100%);
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}

.single-team .team-image .social ul li {
    display: inline-block;
}

.single-team .team-image .social ul li a {
    padding: 15px 13px;
    color: #fff;
}

.single-team .team-content {
    padding: 30px;
}

.single-team .team-content .holder-name a {
    font-size: 20px;
    font-weight: 700;
    color: #2e2e2e;
}

.single-team .team-content .text {
    margin-top: 5px;
}

.single-team:hover .team-image .social ul::before {
    opacity: 1;
    visibility: visible;
}

/*===========================
     08.TESTIMONIAL css
===========================*/
.single-testimonial {
    background-color: #fff;
    -webkit-box-shadow: 0px 0px 30px 0px rgba(167, 167, 167, 0.16);
    box-shadow: 0px 0px 30px 0px rgba(167, 167, 167, 0.16);
    overflow: hidden;
    border-radius: 10px;
    padding: 25px 30px 5px;
    border-radius: 10px;
    border: 2px solid transparent;
    margin: 30px 0;
    -webkit-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}

@media (max-width: 767px) {
    .single-testimonial {
        padding: 20px 20px 5px;
    }
}

.single-testimonial .testimonial-review .quota i {
    font-size: 36px;
    color: #1b52bf;
    -webkit-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}

.single-testimonial .testimonial-review .star ul li {
    display: inline-block;
    font-size: 16px;
    color: #fe806d;
}

.single-testimonial .testimonial-text {
    margin-top: 25px;
}

.single-testimonial .testimonial-author {
    margin-top: 30px;
}

.single-testimonial .testimonial-author .author-image {
    position: relative;
}

.single-testimonial .testimonial-author .author-image .author {
    position: absolute;
    top: 17px;
    left: 17px;
    width: 80px;
    height: 80px;
}

.single-testimonial .testimonial-author .author-content .holder-name {
    font-size: 18px;
    font-weight: 700;
    color: #2e2e2e;
}

.single-testimonial .testimonial-author .author-content .text {
    font-size: 15px;
}

.single-testimonial:hover {
    border-color: #fe7a7b;
}

.single-testimonial:hover .testimonial-review .quota i {
    color: #fe7a7b;
}

.slick-center .single-testimonial {
    border-color: #fe7a7b;
}

.slick-center .single-testimonial .testimonial-review .quota i {
    color: #fe7a7b;
}

.testimonial-active .slick-dots {
    margin: 0 auto;
}

.testimonial-active .slick-dots li {
    display: inline-block;
    margin: 0 4px;
}

.testimonial-active .slick-dots li button {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: -webkit-gradient(
        linear,
        left top,
        left bottom,
        from(#fe8464),
        to(#fe6e9a)
    );
    background: linear-gradient(180deg, #fe8464 0%, #fe6e9a 100%);
    border: 0;
    font-size: 0;
    opacity: 0.5;
    -webkit-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}

.testimonial-active .slick-dots li.slick-active button {
    opacity: 1;
    width: 15px;
    height: 15px;
}

/*===========================
       09.BLOG  css
===========================*/
.single-blog .blog-image img {
    border-radius: 10px;
    width: 100%;
}

.single-blog .blog-content {
    padding-top: 25px;
}

.single-blog .blog-content .meta li {
    font-size: 16px;
    color: #6a6972;
    display: inline-block;
    margin-left: 50px;
}

.single-blog .blog-content .meta li:first-child {
    margin-left: 0;
}

.single-blog .blog-content .meta li a {
    color: #6a6972;
}

.single-blog .blog-content .text {
    font-size: 23px;
    font-weight: 400;
    line-height: 30px;
    color: #2e2e2e;
    margin-top: 15px;
}

@media (max-width: 767px) {
    .single-blog .blog-content .text {
        font-size: 20px;
        line-height: 30px;
    }
}

.single-blog .blog-content .more {
    font-size: 16px;
    color: #fe7e71;
    margin-top: 30px;
}

.single-blog .blog-content .more i {
    margin-left: 5px;
}

/*===========================
       10.SUBSCRIBE  css
===========================*/
.subscribe-area {
    /*  -webkit-box-shadow: 0px 0px 18px 0px rgba(50, 77, 215, 0.14);
    -moz-box-shadow: 0px 0px 18px 0px rgba(50, 77, 215, 0.14);
    box-shadow: 0px 0px 18px 0px rgba(50, 77, 215, 0.14);*/
    border-radius: 10px;
    /*  background-color: #fff;*/
}

/*  @media (max-width: 767px) {
    .subscribe-area {
      padding: 10px 30px 60px; } }*/
.subscribe-content .subscribe-title {
    font-size: 35px;
    font-weight: 700;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .subscribe-content .subscribe-title {
        font-size: 30px;
    }
}

@media (max-width: 767px) {
    .subscribe-content .subscribe-title {
        font-size: 24px;
    }
}

.subscribe-content .subscribe-title span {
    font-weight: 400;
}

.subscribe-form {
    position: relative;
}

.subscribe-form input {
    border: 2px solid #e1e1e1;
    height: 65px;
    padding: 0 30px;
    border-radius: 5px;
    width: 100%;
    color: #2e2e2e;
}

.subscribe-form input::-webkit-input-placeholder {
    opacity: 1;
    color: #b9b9b9;
}

.subscribe-form input:-ms-input-placeholder {
    opacity: 1;
    color: #b9b9b9;
}

.subscribe-form input::-ms-input-placeholder {
    opacity: 1;
    color: #b9b9b9;
}

.subscribe-form input::placeholder {
    opacity: 1;
    color: #b9b9b9;
}

.subscribe-form input::-moz-placeholder {
    opacity: 1;
    color: #b9b9b9;
}

.subscribe-form input::-moz-placeholder {
    opacity: 1;
    color: #b9b9b9;
}

.subscribe-form input::-webkit-input-placeholder {
    opacity: 1;
    color: #b9b9b9;
}

.subscribe-form input:focus {
    border-color: #361cc1;
}

.subscribe-form button {
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    height: 65px;
    line-height: 65px;
    background: -webkit-gradient(
        linear,
        left top,
        right top,
        from(#fe8464),
        color-stop(50%, #fe6e9a),
        to(#fe8464)
    );
    background: linear-gradient(
        to right,
        #fe8464 0%,
        #fe6e9a 50%,
        #fe8464 100%
    );
    background-size: 200%;
}

@media (max-width: 767px) {
    .subscribe-form button {
        position: relative;
        width: 100%;
        margin-top: 10px;
        border-radius: 5px;
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .subscribe-form button {
        position: absolute;
        width: auto;
        margin-top: 0;
        border-radius: 0;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }
}

.subscribe-form button:hover {
    color: #fff;
    background-position: right center;
}

/*===========================
       11.FOOTER  css
===========================*/
.footer-area {
    background-position: top center;
    position: relative;
    z-index: 5;
    background-color: #0a031a;
    padding-top: 2%;
}

.footer-area::before {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    /* background-image: url(../images/footer-bg.svg); */
    background-position: top center;
    z-index: -1;
    background-size: cover;
}

@media only screen and (min-width: 1921px) {
    .footer-area::before {
        height: 1120px;
    }
}

#particles-2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.footer-widget {
    padding-top: 50px;
}

.footer-about .logo img {
    width: 150px;
}

.footer-about .text {
    color: #fff;
}

.footer-about .social {
    margin-top: 19px;
}

.footer-about .social li {
    display: inline-block;
    margin-left: 16px;
}

.footer-about .social li a {
    font-size: 21px;
    color: #fff;
    -webkit-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}

.footer-about .social li a:hover {
    color: #fe8464;
}

.footer-title .title {
    /* font-size: 24px; */
    font-weight: 700;
    color: #fff;
}

.link-wrapper {
    /* padding: 0 35px; */
}

@media (max-width: 767px) {
    .link-wrapper {
        padding: 0;
        padding-right: 50px;
    }
}

.link-wrapper .link {
    padding-top: 20px;
}

.link-wrapper .link li {
    margin-top: 10px;
}

.link-wrapper .link li a {
    font-size: 16px;
    color: #fff;
    -webkit-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}

.link-wrapper .link li a:hover {
    color: #fe8464;
}

.footer-contact .contact {
    padding-top: 20px;
}

.footer-contact .contact li {
    margin-top: 10px;
    font-size: 16px;
    color: #fff;
}

.footer-copyright {
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    padding-top: 15px;
    padding-bottom: 30px;
}

.copyright-content {
    padding-top: 30px;
    text-align: center;
}

.copyright-content p {
    color: #fff;
    font-size: 13px;
}

.copyright-content a {
    font-size: 16px;
    color: #fff;
    -webkit-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}

.copyright-content a:hover {
    color: #fe8464;
}

.copy_right span {
    font-size: 13px;
    color: white;
    display: block;
}

.copy_right i {
    color: white;
    padding-right: 5%;
    font-size: 20px;
}

.copy_right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 30px;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.footer_hr hr {
    margin-top: 17%;
    display: block;
    background: white;
}

.reserved span {
    font-size: 13px;
    color: white;
}

.reserved {
    padding-top: 28px;
}

.copy_right a {
    color: white;
}

@media (max-width: 767px) {
    .footer_form {
        margin-top: 5%;
        margin-bottom: 5%;
    }

    .footer-about {
        margin-top: 0;
    }

    .location_text i {
        width: 14% !important;
        padding: 9px 0px !important;
    }

    .location_text ul li {
        font-size: 15px;
    }

    .footer-widget {
        padding-top: 10%;
    }

    .footer_submit a {
        font-size: 14px;
    }

    .footer_submit {
        text-align: center !important;
    }
}

/*===== BACK TO TOP =====*/
.back-to-top {
    font-size: 20px;
    color: #fff;
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 5px;
    background: -webkit-gradient(
        linear,
        left top,
        right top,
        from(#361cc1),
        to(#2e82ef)
    );
    background: linear-gradient(to right, #361cc1 0%, #2e82ef 100%);
    text-align: center;
    z-index: 99;
    -webkit-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
    display: none;
}

.back-to-top:hover {
    color: #fff;
}

.footer_form .form_head {
    background: #2e6ce5;
    text-align: center;
    padding: 25px 0px;
    border-radius: 25px 25px 0px 0px;
}

.footer_form .form_head h6 {
    color: white;
}

.main_form form input,
.main_form form textarea {
    width: 100%;
    border: 1px solid black;
    padding: 10px 10px;
    margin-bottom: 5%;
}

.main_form {
    padding: 40px 40px;
    background: #ffffffe8;
    border-radius: 0px 0px 25px 25px;
}

.footer_submit {
    text-align: right;
}

.footer_submit a {
    background: #3243d2;
    color: white;
    padding: 5px 40px;
    border-radius: 5px;
}

.footer_form {
    border: 13px solid #dcdcdc;
    border-radius: 40px;
}

.footer_location {
    background-color: #ffffffe8;
    padding: 40px 40px;
    border: 13px solid #dcdcdc;
    border-radius: 40px;
}

.location_text i {
    background: #3159dc;
    color: white;
    width: 9%;
    text-align: center;
    padding: 9px 0px;
    margin-right: 2%;
}

.location_text ul {
    padding-left: 5%;
    padding-top: 10%;
    padding-bottom: 9%;
}

.location_text ul li {
    line-height: 40px;
}

.modal-backdrop {
    position: inherit;
}

/*...............popop..........*/
.free_trial input,
.free_trial select {
    width: 100%;
    border-left: 0;
    border-top: 0;
    padding: 8px;
    border-right: 0;
}

.free_trial form {
    text-align: left;
}

.form_head {
    color: black;
    font-size: 12px;
    font-weight: bold;
}

.modal .free_trial {
    border: 20px solid #2a2aa9;
}

.modal {
    background: #1c2161cf;
}

.free_trial .modal-content {
    padding: 2px 60px;
}

.free_trial .modal-header {
    border-bottom: 0;
}

.modal-header .close {
    position: absolute;
    right: 4%;
    top: 2%;
}

.modal-body form a {
    width: 100%;
    color: white;
    margin-top: 10%;
    margin-left: 0;
    text-align: center;
}

.free_trial .modal-header h5 {
    color: #11117b;
    font-size: 20px;
}

.govt_logo {
    width: 20%;
    margin: 0 auto;
}

.verify_tab .verified_pro a {
    width: 25%;
    padding: 5px 0px;
    color: white;
    font-weight: 900;
    text-align: center;
}

.verify_tab h5 {
    color: #11117b;
    font-size: 20px;
}

.verify_tab .verified_pro .a_green {
    background-color: green;
}

.verify_tab .verified_pro .a_red {
    background-color: red;
}

.verify_tab {
    text-align: center;
}

.verify_tab p {
    font-size: 12px;
    font-weight: 800;
}

.verified_pro {
    margin: 20px 0px;
}

.verify_tab h5 {
    margin-top: 20px;
}

.dis_none {
    display: none;
}

.verified_pro a:first-child {
    margin-right: 10%;
}

.branch_head h5 {
    color: #11117b;
    font-size: 20px;
    text-align: center;
}

.plans_blk {
    padding: 4% 30%;
}

.tab_nxt_prv .btnPrevious {
    width: 20%;
    padding: 2px 0px;
    border-radius: inherit;
    color: white !important;
    background: #121269;
    text-align: center;
    margin-right: 3%;
}

.tab_nxt_prv .btnNext {
    width: 20%;
    padding: 2px 0px;
    border-radius: inherit;
    color: white !important;
    background: #21b121;
    text-align: center;
}

.free_trial .activate_content {
    padding: 0;
}

.body_activate {
    padding-top: 0;
}

.branch_head h5 small {
    display: block;
    font-weight: 800;
}

.browse_form_sec {
    width: 60%;
    margin: 0 auto;
    padding-top: 5%;
}

.overview_img {
    width: 40%;
    margin-top: 4%;
    margin-bottom: 4%;
}

.overview_blk ul > li {
    color: black;
    font-weight: 800;
    font-size: 15px;
    line-height: 25px;
}

.overview_blk_right {
    width: 75%;
}

.flex_blk_over {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.flex_blk_over a {
    background: green;
    margin-top: 0 !important;
    line-height: 35px;
    margin-left: 4% !important;
}

.overview_main .table td,
.overview_main .table th {
    font-size: 11px;
    font-weight: bold;
    padding: 8px 10px;
}

.overview_main .branch_head h5 {
    text-align: left;
    text-decoration: underline;
}

.overview_main table {
    margin-top: 8%;
}

.overview_blk {
    margin-top: 10%;
}

.payment_blk .btn {
    width: 18%;
    padding: 0px 5px 0px 5px;
}

.payment_blk .btn img {
    width: 100%;
    height: 100%;
}

.payment_blk .btn {
    margin-left: 1%;
}

.payment_blk .btn:first-child {
    margin-left: 0;
}

.tab_nxt_prv .btnSubmit {
    width: 30%;
    padding: 2px 0px;
    border-radius: inherit;
    color: white !important;
    background: #21b121;
    text-align: center;
}

.overview_right_full {
    position: relative;
}

.overview_right_full:before {
    position: absolute;
    content: "";
    width: 2px;
    height: 100%;
    background: #2a2aa9;
    left: -4%;
}

@media (min-width: 576px) {
    .free_trial_modal {
        max-width: 500px;
    }

    .modal_center_margin {
        margin-top: 4%;
    }
}

.file-upload {
    background-color: #ffffff;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
}

.file-upload-btn {
    width: 100%;
    margin: 0;
    color: #fff;
    background: #1fb264;
    border: none;
    padding: 10px;
    border-radius: 4px;
    border-bottom: 4px solid #15824b;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    outline: none;
    text-transform: uppercase;
    font-weight: 700;
}

.file-upload-btn:hover {
    background: #1aa059;
    color: #ffffff;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    cursor: pointer;
    color: white;
}

.file-upload-btn:active {
    border: 0;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.file-upload-content {
    display: none;
    text-align: center;
}

.file-upload-input {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    outline: none;
    opacity: 0;
    cursor: pointer;
}

.image-upload-wrap {
    margin-top: 20px;
    border: 4px dashed #2a2aa9;
    position: relative;
}

.image-dropping,
.image-upload-wrap:hover {
    background-color: #2a2aa9;
    border: 4px dashed #ffffff;
}

.image-title-wrap {
    padding: 0 15px 15px 15px;
    color: #222;
}

.drag-text {
    text-align: center;
}

.drag-text h3 {
    font-weight: 100;
    text-transform: uppercase;
    color: #676767;
    font-size: 19px;
    padding: 60px 0;
}

.file-upload-image {
    max-height: 200px;
    max-width: 200px;
    margin: auto;
    padding: 20px;
}

.remove-image {
    width: 80%;
    margin: 0;
    color: #fff;
    background: #cd4535;
    border: none;
    padding: 10px;
    font-size: 12px;
    border-radius: 4px;
    border-bottom: 4px solid #b02818;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    outline: none;
    text-transform: uppercase;
    font-weight: 700;
}

.remove-image:hover {
    background: #c13b2a;
    color: #ffffff;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    cursor: pointer;
}

.remove-image:active {
    border: 0;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.image-dropping,
.image-upload-wrap:hover .drag-text h3 {
    color: white;
}

.header-area .col,
.header-area .col-1,
.header-area .col-10,
.header-area .col-11,
.header-area .col-12,
.header-area .col-2,
.header-area .col-3,
.header-area .col-4,
.header-area .col-5,
.header-area .col-6,
.header-area .col-7,
.header-area .col-8,
.header-area .col-9,
.header-area .col-auto,
.header-area .col-lg,
.header-area .col-lg-1,
.header-area .col-lg-10,
.header-area .col-lg-11,
.header-area .col-lg-12,
.header-area .col-lg-2,
.header-area .col-lg-3,
.header-area .col-lg-4,
.header-area .col-lg-5,
.header-area .col-lg-6,
.header-area .col-lg-7,
.header-area .col-lg-8,
.header-area .col-lg-9,
.header-area .col-lg-auto,
.header-area .col-md,
.header-area .col-md-1,
.header-area .col-md-10,
.header-area .col-md-11,
.header-area .col-md-12,
.header-area .col-md-2,
.header-area .col-md-3,
.header-area .col-md-4,
.header-area .col-md-5,
.header-area .col-md-6,
.header-area .col-md-7,
.header-area .col-md-8,
.header-area .col-md-9,
.header-area .col-md-auto,
.header-area .col-sm,
.header-area .col-sm-1,
.header-area .col-sm-10,
.header-area .col-sm-11,
.header-area .col-sm-12,
.header-area .col-sm-2,
.header-area .col-sm-3,
.header-area .col-sm-4,
.header-area .col-sm-5,
.header-area .col-sm-6,
.header-area .col-sm-7,
.header-area .col-sm-8,
.header-area .col-sm-9,
.header-area .col-sm-auto,
.header-area .col-xl,
.header-area .col-xl-1,
.header-area .col-xl-10,
.header-area .col-xl-11,
.header-area .col-xl-12,
.header-area .col-xl-2,
.header-area .col-xl-3,
.header-area .col-xl-4,
.header-area .col-xl-5,
.header-area .col-xl-6,
.header-area .col-xl-7,
.header-area .col-xl-8,
.header-area .col-xl-9,
.header-area .col-xl-auto {
    position: static;
}

/* ........new changes.... */
.tab_form_register_client {
    padding: 25% 15% 0% 10%;
}

.terms_condition_accept input {
    width: 18px;
    height: 18px;
}

.terms_condition_accept label {
    color: black;
    margin-left: 5px;
}

.btn_logg_register .main_in {
    margin-top: 4%;
}

.troubleshoot_popup {
    position: absolute;
    width: 15% !important;
    right: -50px;
    bottom: 0;
}

.troubleshoot_popup a {
    color: #2a2aa9 !important;
}

.troubleshoot_popup i {
    font-size: 20px;
}

.plans_blk .form_head {
    position: relative;
}

.btn_trial {
    background: #2a2aa9;
    padding: 10px 16px;
}

.troubleshoot_popup .popup {
    display: none;
    -webkit-transition: 1s ease-in-out;
    transition: 1s ease-in-out;
    padding: 10px;
    width: 300px;
    background: #2a2aa9;
    position: absolute;
    z-index: 9;
    left: 39px;
    top: 5px;
}

.troubleshoot_popup:hover .popup {
    display: block;
    -webkit-transition: 1s ease-in-out;
    transition: 1s ease-in-out;
}

.form_head_info {
    position: relative;
}

.troubleshoot_popup .popup {
    padding: 10px;
    padding-top: 0;
}

.troubleshoot_popup h4 {
    color: white;
    font-size: 16px;
    margin-bottom: 2px;
    margin-top: 10px;
    text-decoration: underline;
}

.troubleshoot_popup p {
    color: white;
    font-size: 14px;
    line-height: 16px;
}
.border-radius-0 {
    border-radius: 0 !important;
}
.img-container {
    position: relative;
}

.img-container:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    /* background: rgba(27, 82, 191, 0.1); */
}

.image {
    opacity: 1;
    display: block;
    width: 90%;
    height: auto;
    transition: 0.5s ease;
    backface-visibility: hidden;
}

.img-middle {
    transition: 0.5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    opacity: 1;
}

.img-middle img {
    width: 70%;
    margin-top: 5rem;
}

.img-middle:hover {
    opacity: 0.7;
}
.referral-section {
    background: #c1d6ec;
}

/* Slideshow container */
.slideshow-container {
    position: relative;
}

/* Slides */
.mySlides {
    display: none;
    padding: 17px;
    text-align: center;
    border: 1px solid #f1f1f1f1;
    -webkit-box-shadow: 0px -2px 5px 7px rgba(244, 247, 250, 0.7);
    -moz-box-shadow: 0px -2px 5px 7px rgba(244, 247, 250, 0.7);
    box-shadow: 0px -2px 5px 7px rgba(244, 247, 250, 0.7);
}

.mySlides img {
    border-radius: 50%;
    width: 109px;
    height: 109px;
}

/* The dot/bullet/indicator container */
.dot-container {
    text-align: center;
    padding: 20px;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

/* Add a background color to the active dot/circle */
.dot-container .active,
.dot-container .dot:hover {
    background-color: #1b52bf !important;
}

/* Add an italic font style to all quotes */
q {
    font-style: italic;
}

/* Add a blue color to the author */
.mySlides .author {
    color: #bbb;
    text-transform: uppercase;
    font-weight: 600;
}

.mySlides .designation {
    font-size: 12px;
}

.slick-slide {
    margin: 0px 20px;
}

.slick-slide img {
    width: 100%;
    height: 60px;
    border-radius: 7px;
}

.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.slick-list:focus {
    outline: none;
}

.slick-list.dragging {
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
}

.slick-track:before,
.slick-track:after {
    display: table;
    content: "";
}

.slick-track:after {
    clear: both;
}

.slick-loading .slick-track {
    visibility: hidden;
}

.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}

[dir="rtl"] .slick-slide {
    float: right;
}

.slick-slide img {
    display: block;
}

.slick-slide.slick-loading img {
    display: none;
}

.slick-slide.dragging img {
    pointer-events: none;
}

.slick-initialized .slick-slide {
    display: block;
}

.slick-loading .slick-slide {
    visibility: hidden;
}

.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
    display: none;
}
.slick-next{
    float: right;
}
.banner-form {
    background: #c1d6ec;
    margin-top: 4rem;
}

.banner-form label {
    display: inline-block;
    margin-bottom: 0rem;
    margin-top: 0.5rem;
    color: black;
    font-size: 14px;
}

.banner-form input,
.banner-form select {
    font-size: 14px;
}

::-webkit-input-placeholder {
    font-size: 14px;
}

::-moz-placeholder {
    font-size: 14px;
}

:-ms-input-placeholder {
    font-size: 14px;
}

:-moz-placeholder {
    font-size: 14px;
}
.banner-image-fluid {
    margin-left: -3rem;
    margin-top: 5rem;
}

.banner-form .nav-tabs {
    border: none !important;
}

.banner-form .nav-link-style-1 {
    clip-path: polygon(0% 0%, 75% 0%, 96% 50%, 75% 100%, 0% 100%);
    background: white;
    padding-right: 3rem;
}

.banner-form .nav-link-style-2 {
    clip-path: polygon(0 1%, 75% 0%, 97% 50%, 75% 100%, 0 100%, 25% 50%);
    background: white;
    margin-left: -2.5rem;
    padding-left: 3.2rem;
    padding-right: 2.3rem;
}

.payment-detail-table thead {
    background: #1b51be;
    color: white;
}

.payment-detail-table th,
.payment-detail-table td {
    padding: 0.2rem;
}

.banner-form .table-bordered {
    border: 1px solid rgb(116, 116, 116);
}

.banner-form .input-group-text {
    height: 35px;
    background: #1b51be;
    color: white;
}

.banner-form .no-border td,
.banner-form .no-border th {
    border: none !important;
}
.wallet img {
    height: 55px;
}

.feature-section .border:hover {
    background: #1b52bf;
    border-radius: 5px;
}

.feature-section .border:hover h6,
.feature-section .border:hover p {
    color: white !important;
}

.feature-section .border .secondary {
    display: none;
}

.feature-section .border:hover .primary {
    display: none;
}

.feature-section .border:hover .secondary {
    display: block;
}

.feature-section .border img {
    width: 40px;
}

.poli-1 {
    background: #1b52bf;
    clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 20% 49%);
    padding: 0.3rem 0rem 0.2rem 0.2rem;
    margin-left: -4.3rem;
    margin-bottom: -0.21rem;
}

.poli-1 .inside-poli {
    background: white;
    clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 20% 49%);
    padding: 0.7rem 0rem 0.7rem 12rem;
}

.poli-2 {
    margin-left: 19rem;
    background: #1b52bf;
    clip-path: polygon(0% 0%, 75% 0%, 82% 47%, 75% 100%, 0% 100%);
    padding: 0.2rem 0.2rem 0.3rem 0rem;
}

.poli-2 .inside-poli {
    background: white;
    clip-path: polygon(0% 0%, 75% 0%, 82% 47%, 75% 100%, 0% 100%);
    padding: 0.7rem 12rem 0.7rem 0rem;
}
.bg-default-secondary {
    background: #f7f8fa;
}

.contact-detail,
.inquiei-form {
    background: #c1d6ec;
}

.contact-detail li {
    font-weight: 600;
    color: black;
    font-size: 19px;
    margin-top: 0.5rem;
}

.contact-detail li span {
    font-size: 15px;
    color: rgb(46, 46, 46);
}
.basic-package {
    border-left: 13px solid #118696;
}
.basic-package .post-title a {
    color: #118696 !important;
}
.regular-package {
    border-left: 13px solid #4180d4;
}
.regular-package .post-title a {
    color: #4180d4 !important;
}
.premium-package {
    border-left: 13px solid #d54f4f;
}
.premium-package .post-title a {
    color: #d54f4f !important;
}
.ultimate-package {
    border-left: 13px solid #4893a4;
}
.ultimate-package .post-title a {
    color: #4893a4 !important;
}
.post-slide8 {
    position: relative;
    background: #fff;
    box-shadow: 0 1px 2px rgba(43, 59, 93, 0.3);
}
.post-slide8 .post-img {
    position: relative;
}
.post-slide8 .post-img img {
    width: 100%;
    height: auto;
}
.post-slide8 .over-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: rgba(0, 0, 0, 0.6);
    transition: all 0.3s ease;
}
.post-slide8:hover .over-layer {
    opacity: 1;
}
.post-slide8 .post-link {
    margin: 0;
    padding: 0;
    position: relative;
    top: 45%;
    text-align: center;
}
.post-slide8 .post-link li {
    display: inline-block;
    list-style: none;
    margin-right: 20px;
}
.post-slide8 .post-link li a {
    color: #fff;
    font-size: 20px;
}
.post-slide8 .post-link li a:hover {
    color: #ff8b3d;
    text-decoration: none;
}
.post-slide8 .post-date {
    position: absolute;
    top: 10%;
    left: -13%;
}
.post-slide8 .date {
    display: inline-block;
    border-radius: 50%;
    width: 75px;
    height: 75px;
    padding: 5px 10px;
    color: #fff;
    font-size: 13px;
    font-weight: 700;
    text-align: center;
    background: #333;
    float: left;
}
.post-slide8 .month {
    display: inline-block;
    border-radius: 0 3px 3px 0;
    padding: 5px 13px;
    color: #111;
    font-size: 20px;
    font-weight: 700;
    background: #ff8b3d;
}
.post-slide8 .post-content {
    padding: 30px 10px 30px 30px;
}
.post-slide8 .post-title {
    margin: 0 0 15px 0;
}
.post-slide8 .post-title a {
    font-size: 26px;
    font-weight: 500;
    display: inline-block;
    text-transform: capitalize;
    transition: all 0.3s ease 0s;
}
.post-slide8 .post-title a:hover {
    text-decoration: none;
    color: #ff8b3d;
}
.post-slide8 .post-description {
    font-size: 14px;
    line-height: 24px;
    color: grey;
}
.post-slide8 .read-more {
    color: #333;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    position: relative;
    transition: color 0.2s linear;
}
.post-slide8 .read-more:hover {
    text-decoration: none;
    color: #ff8b3d;
}
.post-slide8 .read-more:after {
    content: "";
    position: absolute;
    width: 30%;
    display: block;
    border: 1px solid #ff8b3d;
    transition: all 0.3s ease;
}
.post-slide8 .read-more:hover:after {
    width: 100%;
}
@media only screen and (max-width: 479px) {
    .post-slide8 .month {
        font-size: 14px;
    }
    .post-slide8 .date {
        font-size: 14px;
    }
}
.select-package {
    background: black;
    text-align: center;
}
.select-package:hover{
    background: #1B51BE;
}

.select-package a,
.select-package a:hover {
    color: rgb(228, 227, 227);
    line-height: 3;
    text-transform: uppercase;
}
.post-description .true i {
    color: #378d00;
    margin-right: 0.5rem;
}

.post-description .false i {
    color: #ff4646;
    margin-right: 0.5rem;
}

.mt-10 {
    margin-top: 20px;
}

a:hover,
a:focus {
    text-decoration: none;
    outline: none;
}

#accordion .panel {
    border: none;
    border-radius: 3px;
    box-shadow: none;
    margin-bottom: 15px;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

#accordion .panel-heading {
    padding: 0;
    border: none;
    border-radius: 3px;
}

#accordion .panel-title a {
    display: block;
    padding: 12px 15px;
    background: #fff;
    font-size: 18px;
    font-weight: 400;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    position: relative;
    transition: all 0.5s ease 0s;
    box-shadow: 0 1px 2px rgba(43, 59, 93, 0.3);
}

#accordion .panel-title a.collapsed {
    box-shadow: none;
    color: #676767;
    box-shadow: 0 1px 2px rgba(43, 59, 93, 0.3);
}

#accordion .panel-title a:before,
#accordion .panel-title a.collapsed:before {
    content: "\f067";
    font-family: "Font Awesome 5 Free";
    width: 25px;
    height: 25px;
    line-height: 28px;
    font-size: 15px;
    font-weight: 900;
    text-align: center;
    position: absolute;
    top: 8px;
    right: 15px;
    transform: rotate(135deg);
    transition: all 0.3s ease 0s;
}

#accordion .panel-title a.collapsed:before {
    color: #676767;
    transform: rotate(0);
}

#accordion .panel-title a:after {
    content: "";
    width: 1px;
    height: 100%;
    background: #ececec;
    position: absolute;
    top: 0;
    right: 55px;
}

#accordion .panel-body {
    padding: 0px 15px;
    border: none;
    font-size: 15px;
    color: #615f5f;
    line-height: 27px;
}
