/*-----------------------------------------------------------------------------------

    Template Name: Sass Landing Page,
    Template URI: site.com
    Description: Sass Landing Page,
    Author: Uideck
    Author URI: https://uideck.com/
    Support: https://uideck.com/support/
    Version: 1.0

-----------------------------------------------------------------------------------

    CSS INDEX
    ===================

    01.COMMON
    02.HEADER
    03.BRAND
    04.SERVICES
    05.ABOUT
    06.VIDEO COUNTER
    07.TEAM
    08.TESTIMONIAL
    09.BLOG
    10.SUBSCRIBE
    11.FOOTER

-----------------------------------------------------------------------------------*/
/*===========================
     01.COMMON css
===========================*/
@import url('https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap');
@import url("https://fonts.googleapis.com/css?family=Poppins:400,700|Lato:300,400,700&display=swap");

body {
    font-family: "Lato", sans-serif;
    font-weight: normal;
    font-style: normal;
    color: #6A6972;
    overflow-x: hidden;
}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

a:focus,
input:focus,
textarea:focus,
button:focus {
    text-decoration: none;
    outline: none;
}

a:focus,
a:hover {
    text-decoration: none;
}

i,
span,
a {
    display: inline-block;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    color: #2E2E2E;
    margin: 0px;
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 28px;
}

h4 {
    font-size: 22px;
}

h5 {
    font-size: 18px;
}

h6 {
    font-size: 16px;
}

ul,
ol {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

p {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: #6A6972;
    margin: 0px;
}

.bg_cover {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

/*===== All Slick Slide Outline Style =====*/
.slick-slide {
    outline: 0;
}

/*===== All Button Style =====*/
.main-btn {
    display: inline-block;
    font-weight: 500;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 0 25px;
    font-size: 16px;
    line-height: 48px;
    border-radius: 8px;
    border: 0;
    color: #fff;
    cursor: pointer;
    z-index: 5;
    -webkit-transition: all 0.4s ease-out 0s;
    -moz-transition: all 0.4s ease-out 0s;
    -ms-transition: all 0.4s ease-out 0s;
    -o-transition: all 0.4s ease-out 0s;
    transition: all 0.4s ease-out 0s;
    background: -webkit-linear-gradient(left, #33c8c1 0%, #119bd2 50%, #33c8c1 100%);
    background: -o-linear-gradient(left, #33c8c1 0%, #119bd2 50%, #33c8c1 100%);
    background: linear-gradient(to right, #33c8c1 0%, #119bd2 50%, #33c8c1 100%);
    background-size: 200%;
}

.main-btn:hover {
    color: #fff;
    background-position: right center;
}

/*===== All SECTION TITLE Style =====*/
.section-title .line {
    background: -webkit-linear-gradient(115deg, rgba(48, 95, 223, 1) 35%, rgba(12, 43, 129, 1) 70%);
    background: -o-linear-gradient(115deg, rgba(48, 95, 223, 1) 35%, rgba(12, 43, 129, 1) 70%);
    background: linear-gradient(115deg, rgba(48, 95, 223, 1) 35%, rgba(12, 43, 129, 1) 70%);
    width: 150px;
    height: 6px;
    margin-bottom: 10px !important;
}

.section-title .title {
    font-size: 38px;
    font-weight: 700;
    line-height: 42px;
}

@media (max-width: 767px) {
    .section-title .title {
        font-size: 20px;
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .section-title .title {
        font-size: 30px;
    }
}

.section-title .title span {
    font-weight: 400;
    display: contents;
}

/*===== All Section Title Style =====*/
.section-title .sub-title {
    font-size: 18px;
    font-weight: 400;
    color: #361CC1;
    text-transform: uppercase;
}

@media (max-width: 767px) {
    .section-title .sub-title {
        font-size: 16px;
    }
}

.section-title .title {
    font-size: 32px;
    padding-top: 10px;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .section-title .title {
        font-size: 30px;
    }
}

@media (max-width: 767px) {
    .section-title .title {
        font-size: 24px;
    }
}

.section-title .title span {
    font-weight: 400;
    display: contents;
}

/*===== All Slick Slide Outline Style =====*/
.slick-slide {
    outline: 0;
}

/*===== All Preloader Style =====*/
.preloader {
    /* Body Overlay */
    position: fixed;
    top: 0;
    left: 0;
    display: table;
    height: 100%;
    width: 100%;
    /* Change Background Color */
    background: #fff;
    z-index: 99999;
}

.preloader .loader {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.preloader .loader .ytp-spinner {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 64px;
    margin-left: -32px;
    z-index: 18;
    pointer-events: none;
}

.preloader .loader .ytp-spinner .ytp-spinner-container {
    pointer-events: none;
    position: absolute;
    width: 100%;
    padding-bottom: 100%;
    top: 50%;
    left: 50%;
    margin-top: -50%;
    margin-left: -50%;
    -webkit-animation: ytp-spinner-linspin 1568.23529647ms linear infinite;
    -moz-animation: ytp-spinner-linspin 1568.23529647ms linear infinite;
    -o-animation: ytp-spinner-linspin 1568.23529647ms linear infinite;
    animation: ytp-spinner-linspin 1568.23529647ms linear infinite;
}

.preloader .loader .ytp-spinner .ytp-spinner-container .ytp-spinner-rotator {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-animation: ytp-spinner-easespin 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
    -moz-animation: ytp-spinner-easespin 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
    -o-animation: ytp-spinner-easespin 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
    animation: ytp-spinner-easespin 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
}

.preloader .loader .ytp-spinner .ytp-spinner-container .ytp-spinner-rotator .ytp-spinner-left {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    overflow: hidden;
    right: 50%;
}

.preloader .loader .ytp-spinner .ytp-spinner-container .ytp-spinner-rotator .ytp-spinner-right {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    left: 50%;
}

.preloader .loader .ytp-spinner-circle {
    box-sizing: border-box;
    position: absolute;
    width: 200%;
    height: 100%;
    border-style: solid;
    /* Spinner Color */
    border-color: #361CC1 #361CC1 #E1E1E1;
    border-radius: 50%;
    border-width: 6px;
}

.preloader .loader .ytp-spinner-left .ytp-spinner-circle {
    left: 0;
    right: -100%;
    border-right-color: #E1E1E1;
    -webkit-animation: ytp-spinner-left-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
    -moz-animation: ytp-spinner-left-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
    -o-animation: ytp-spinner-left-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
    animation: ytp-spinner-left-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
}

.preloader .loader .ytp-spinner-right .ytp-spinner-circle {
    left: -100%;
    right: 0;
    border-left-color: #E1E1E1;
    -webkit-animation: ytp-right-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
    -moz-animation: ytp-right-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
    -o-animation: ytp-right-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
    animation: ytp-right-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
}

/* Preloader Animations */
@-webkit-keyframes ytp-spinner-linspin {
    to {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes ytp-spinner-linspin {
    to {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-webkit-keyframes ytp-spinner-easespin {
    12.5% {
        -webkit-transform: rotate(135deg);
        -moz-transform: rotate(135deg);
        -ms-transform: rotate(135deg);
        -o-transform: rotate(135deg);
        transform: rotate(135deg);
    }

    25% {
        -webkit-transform: rotate(270deg);
        -moz-transform: rotate(270deg);
        -ms-transform: rotate(270deg);
        -o-transform: rotate(270deg);
        transform: rotate(270deg);
    }

    37.5% {
        -webkit-transform: rotate(405deg);
        -moz-transform: rotate(405deg);
        -ms-transform: rotate(405deg);
        -o-transform: rotate(405deg);
        transform: rotate(405deg);
    }

    50% {
        -webkit-transform: rotate(540deg);
        -moz-transform: rotate(540deg);
        -ms-transform: rotate(540deg);
        -o-transform: rotate(540deg);
        transform: rotate(540deg);
    }

    62.5% {
        -webkit-transform: rotate(675deg);
        -moz-transform: rotate(675deg);
        -ms-transform: rotate(675deg);
        -o-transform: rotate(675deg);
        transform: rotate(675deg);
    }

    75% {
        -webkit-transform: rotate(810deg);
        -moz-transform: rotate(810deg);
        -ms-transform: rotate(810deg);
        -o-transform: rotate(810deg);
        transform: rotate(810deg);
    }

    87.5% {
        -webkit-transform: rotate(945deg);
        -moz-transform: rotate(945deg);
        -ms-transform: rotate(945deg);
        -o-transform: rotate(945deg);
        transform: rotate(945deg);
    }

    to {
        -webkit-transform: rotate(1080deg);
        -moz-transform: rotate(1080deg);
        -ms-transform: rotate(1080deg);
        -o-transform: rotate(1080deg);
        transform: rotate(1080deg);
    }
}

@keyframes ytp-spinner-easespin {
    12.5% {
        -webkit-transform: rotate(135deg);
        -moz-transform: rotate(135deg);
        -ms-transform: rotate(135deg);
        -o-transform: rotate(135deg);
        transform: rotate(135deg);
    }

    25% {
        -webkit-transform: rotate(270deg);
        -moz-transform: rotate(270deg);
        -ms-transform: rotate(270deg);
        -o-transform: rotate(270deg);
        transform: rotate(270deg);
    }

    37.5% {
        -webkit-transform: rotate(405deg);
        -moz-transform: rotate(405deg);
        -ms-transform: rotate(405deg);
        -o-transform: rotate(405deg);
        transform: rotate(405deg);
    }

    50% {
        -webkit-transform: rotate(540deg);
        -moz-transform: rotate(540deg);
        -ms-transform: rotate(540deg);
        -o-transform: rotate(540deg);
        transform: rotate(540deg);
    }

    62.5% {
        -webkit-transform: rotate(675deg);
        -moz-transform: rotate(675deg);
        -ms-transform: rotate(675deg);
        -o-transform: rotate(675deg);
        transform: rotate(675deg);
    }

    75% {
        -webkit-transform: rotate(810deg);
        -moz-transform: rotate(810deg);
        -ms-transform: rotate(810deg);
        -o-transform: rotate(810deg);
        transform: rotate(810deg);
    }

    87.5% {
        -webkit-transform: rotate(945deg);
        -moz-transform: rotate(945deg);
        -ms-transform: rotate(945deg);
        -o-transform: rotate(945deg);
        transform: rotate(945deg);
    }

    to {
        -webkit-transform: rotate(1080deg);
        -moz-transform: rotate(1080deg);
        -ms-transform: rotate(1080deg);
        -o-transform: rotate(1080deg);
        transform: rotate(1080deg);
    }
}

@-webkit-keyframes ytp-spinner-left-spin {
    0% {
        -webkit-transform: rotate(130deg);
        -moz-transform: rotate(130deg);
        -ms-transform: rotate(130deg);
        -o-transform: rotate(130deg);
        transform: rotate(130deg);
    }

    50% {
        -webkit-transform: rotate(-5deg);
        -moz-transform: rotate(-5deg);
        -ms-transform: rotate(-5deg);
        -o-transform: rotate(-5deg);
        transform: rotate(-5deg);
    }

    to {
        -webkit-transform: rotate(130deg);
        -moz-transform: rotate(130deg);
        -ms-transform: rotate(130deg);
        -o-transform: rotate(130deg);
        transform: rotate(130deg);
    }
}

@keyframes ytp-spinner-left-spin {
    0% {
        -webkit-transform: rotate(130deg);
        -moz-transform: rotate(130deg);
        -ms-transform: rotate(130deg);
        -o-transform: rotate(130deg);
        transform: rotate(130deg);
    }

    50% {
        -webkit-transform: rotate(-5deg);
        -moz-transform: rotate(-5deg);
        -ms-transform: rotate(-5deg);
        -o-transform: rotate(-5deg);
        transform: rotate(-5deg);
    }

    to {
        -webkit-transform: rotate(130deg);
        -moz-transform: rotate(130deg);
        -ms-transform: rotate(130deg);
        -o-transform: rotate(130deg);
        transform: rotate(130deg);
    }
}

@-webkit-keyframes ytp-right-spin {
    0% {
        -webkit-transform: rotate(-130deg);
        -moz-transform: rotate(-130deg);
        -ms-transform: rotate(-130deg);
        -o-transform: rotate(-130deg);
        transform: rotate(-130deg);
    }

    50% {
        -webkit-transform: rotate(5deg);
        -moz-transform: rotate(5deg);
        -ms-transform: rotate(5deg);
        -o-transform: rotate(5deg);
        transform: rotate(5deg);
    }

    to {
        -webkit-transform: rotate(-130deg);
        -moz-transform: rotate(-130deg);
        -ms-transform: rotate(-130deg);
        -o-transform: rotate(-130deg);
        transform: rotate(-130deg);
    }
}

@keyframes ytp-right-spin {
    0% {
        -webkit-transform: rotate(-130deg);
        -moz-transform: rotate(-130deg);
        -ms-transform: rotate(-130deg);
        -o-transform: rotate(-130deg);
        transform: rotate(-130deg);
    }

    50% {
        -webkit-transform: rotate(5deg);
        -moz-transform: rotate(5deg);
        -ms-transform: rotate(5deg);
        -o-transform: rotate(5deg);
        transform: rotate(5deg);
    }

    to {
        -webkit-transform: rotate(-130deg);
        -moz-transform: rotate(-130deg);
        -ms-transform: rotate(-130deg);
        -o-transform: rotate(-130deg);
        transform: rotate(-130deg);
    }
}

/*===========================
      02.HEADER css
===========================*/
/*===== NAVBAR =====*/
.navbar-area {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}

.sticky {
    position: fixed;
    z-index: 99;
    background-color: #fff;
    -webkit-box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.05);
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}

.sticky .navbar {
    padding: 10px 0;
}

.navbar {
    padding: 10px 0;
    border-radius: 5px;
    position: static;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}

.navbar-brand {
    padding: 0;
}

.navbar-toggler {
    padding: 0;
}

.navbar-toggler .toggler-icon {
    width: 30px;
    height: 2px;
    background-color: #fff;
    display: block;
    margin: 5px 0;
    position: relative;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}

.navbar-toggler.active .toggler-icon:nth-of-type(1) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 7px;
}

.navbar-toggler.active .toggler-icon:nth-of-type(2) {
    opacity: 0;
}

.navbar-toggler.active .toggler-icon:nth-of-type(3) {
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
    top: -7px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .navbar-collapse {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: #fff;
        z-index: 9;
        -webkit-box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.1);
        -moz-box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.1);
        box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.1);
        padding: 5px 12px;
    }
}

@media (max-width: 767px) {
    .navbar-collapse {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: #fff;
        z-index: 9;
        -webkit-box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.1);
        -moz-box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.1);
        box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.1);
        padding: 5px 12px;
    }
}

.navbar-nav .nav-item {
    margin-right: 45px;
    /*  position: relative;*/
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .navbar-nav .nav-item {
        margin-right: 30px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .navbar-nav .nav-item {
        margin: 0;
    }
}

@media (max-width: 767px) {
    .navbar-nav .nav-item {
        margin: 0;
    }
}

.navbar-nav .nav-item a {
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
    padding: 10px 0;
    /*position: relative;*/
    font-family: "Poppins", sans-serif;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .navbar-nav .nav-item a {
        display: block;
        padding: 4px 0;
        color: #2E2E2E;
    }
}

@media (max-width: 767px) {
    .navbar-nav .nav-item a {
        display: block;
        padding: 4px 0;
        color: #2E2E2E;
    }
}

.navbar-nav .nav-item:hover .sub-menu {
    top: 100%;
    opacity: 1;
    visibility: visible;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .navbar-nav .nav-item:hover .sub-menu {
        top: 0;
    }
}

@media (max-width: 767px) {
    .navbar-nav .nav-item:hover .sub-menu {
        top: 0;
    }
}

.navbar-nav .nav-item .sub-menu {
    width: 200px;
    background-color: #fff;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 110%;
    left: 0;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .navbar-nav .nav-item .sub-menu {
        position: relative;
        width: 100%;
        top: 0;
        display: none;
        opacity: 1;
        visibility: visible;
    }
}

@media (max-width: 767px) {
    .navbar-nav .nav-item .sub-menu {
        position: relative;
        width: 100%;
        top: 0;
        display: none;
        opacity: 1;
        visibility: visible;
    }
}

.navbar-nav .nav-item .sub-menu li {
    display: block;
}

.navbar-nav .nav-item .sub-menu li a {
    display: block;
    padding: 8px 20px;
    color: #2E2E2E;
}

.navbar-nav .nav-item .sub-menu li a.active,
.navbar-nav .nav-item .sub-menu li a:hover {
    padding-left: 25px;
    color: #361CC1;
}

.navbar-nav .sub-nav-toggler {
    display: none;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .navbar-nav .sub-nav-toggler {
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        background: none;
        color: #2E2E2E;
        font-size: 18px;
        border: 0;
        width: 30px;
        height: 30px;
    }
}

@media (max-width: 767px) {
    .navbar-nav .sub-nav-toggler {
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        background: none;
        color: #2E2E2E;
        font-size: 18px;
        border: 0;
        width: 30px;
        height: 30px;
    }
}

.navbar-nav .sub-nav-toggler span {
    width: 8px;
    height: 8px;
    border-left: 1px solid #2E2E2E;
    border-bottom: 1px solid #2E2E2E;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    position: relative;
    top: -5px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .navbar-btn {
        position: absolute;
        top: 50%;
        right: 50px;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
    }
}

@media (max-width: 767px) {
    .navbar-btn {
        position: absolute;
        top: 50%;
        right: 50px;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
    }
}

.navbar-btn .main-btn {
    line-height: 25px;
    background-size: 200%;
    border: 1px solid;
    border-radius: 20px;
    padding: 5px 35px !important;
}

.navbar-btn .main-btn:hover {
    color: #fff;
    background-position: right center;
}

.sticky .navbar-toggler .toggler-icon {
    background-color: #2E2E2E;
}

.sticky .navbar-nav .nav-item a {
    color: #2E2E2E;
}

.sticky .navbar-nav .nav-item.active>a,
.sticky .navbar-nav .nav-item:hover>a {
    color: #361CC1;
}


.has_children .drop_down {
    opacity: 0;
    position: absolute;
    left: 0;
    right: 0;
    top: 95%;
    width: 100vw;
    background: #0a0a56db;
    padding: 3%;
    transition: .4s ease;
    display: block;
    visibility: hidden;
    transform: translateY(-18px);
}



.has_children:hover .drop_down {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.children_content {
    border-right: 2px solid white;
}

.children_content h4 {
    color: white;
    text-decoration: underline;
}

.children_content p {
    color: white;
    font-size: 14px;
    line-height: 22px;
    margin-top: 5%;
}

.children_content .first_btn a {
    width: inherit;
    border-radius: inherit;
    border-radius: 0px 15px;
    margin-top: 5%;
    font-size: 18px;
    color: white !important;
}

/*.children_content .first_btn a:last-child{
background:inherit;
}*/
.children_content:before {
    position: absolute;
    content: "";
    height: 85%;
    width: 2px;
    background: white;
    bottom: 0;
    left: -2%;
}

.border_none {
    border: none;
}

.none_after:before {
    content: none;
}

.has_children .sticky_acc {
    background: #351cc1;
    color: white !important;
}

@media (min-width: 576px) {
    .modal-dialog {
        max-width: 800px;
        margin: 1.75rem auto;
    }
}

.tab_left_banner_lead h2 {
    font-size: 24px;
    color: white;
    text-align: center;
}

.tab_left_banner_lead h2 span {
    display: block;
    font-weight: 500;
}

.tab_left_banner_lead {
    background: #4b4bff;
    padding: 10% 2% 25% 0%;
    background-image: url(../images/wire.png);
    background-repeat: no-repeat;
    right: 0;
    background-position: 120% 55%;
    height: 490px;
}

.tab_banner img {
    width: 70%;
    display: block;
    margin: 0 auto;
    padding-top: 10%;
}

.modal_with_tab .modal-body nav {
    position: absolute;
    right: 0;
    top: 10%;
    z-index: 9;
    width: 35%;
}

.modal_with_tab .tab_form .form_head input {
    width: 100%;
    border-left: 0;
    border-top: 0;
    border-color: #828282;
    padding: 8px;
    background: #E8E9EA;
    border-width: 1px;
    border-right: 0;
    padding-top: 0 !important;
    padding-bottom: 2px !important;
}

.btn_logg .main_in {
    color: white;
    background: #4b4bff;
    padding: 10px 0px;
    font-weight: 800;
}

.bottom_logg_href {
    display: flex;
}

.bottom_logg_href a {
    color: black !important;
}

.tab_form h3 {
    font-weight: 400;
}

.tab_form {
    padding: 32% 15% 0% 10%;
}

.modal_with_tab .nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    color: white;
    background-color: #4b4bff;
    border-radius: 0;
    border: 2px solid #4b4bff;
}

.modal_with_tab .nav-link {
    padding: 0.5rem 1rem;
    border: 1px solid;
    border-radius: 0;
    line-height: 10px;
    width: 40%;
    text-align: center;
}

.modal_with_tab .nav-tabs {
    border-bottom: 0;
}

.modal_with_tab .nav-tabs a:first-child {
    margin-right: 5%;
}

.modal_with_tab .modal-header {
    border-bottom: 0;
}

.tab_form h3 {
    margin-bottom: 10%;
    font-size: 22px;
    display: block;
    color: black;
}

.modal_with_tab .modal-body {
    padding: 0;
}

.modal_with_tab button.close {
    position: absolute;
    top: 2%;
    right: 8%;
}

.bottom_logg_href a {
    font-size: 12px;
    font-weight: 800;
    text-decoration: underline;
}

.bg_light_gr {
    background: #E8E9EA;
}

.no-pad-r {
    padding-right: 0;
}
































/*===== HEADER HERO =====*/
.header-hero {
    position: relative;
    z-index: 5;
    background-position: bottom center;
}

#particles-1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.header-hero-content {
    padding-top: 90px;
}

@media (max-width: 767px) {
    .header-hero-content {
        padding-top: 90px;
    }
}

.header-hero-content .header-sub-title {
    font-size: 28px;
    font-weight: 300;
    color: #fff;
}

@media (max-width: 767px) {
    .header-hero-content .header-sub-title {
        font-size: 24px;
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .header-hero-content .header-sub-title {
        font-size: 30px;
    }
}

.header-hero-content .header-title {
    font-size: 38px;
    font-weight: 700;
    color: #fff;
}

@media (max-width: 767px) {
    .header-hero-content .header-title {
        font-size: 24px;
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .header-hero-content .header-title {
        font-size: 30px;
    }
}

.header-hero-content .text {
    color: #fff;
    margin-top: 15px;
}

.header-hero-content .main-btn {
    margin-top: 40px;
}

.header-hero-image {
    padding-top: 25px;
}

.header-hero-image img {
    max-width: 100%;
}

@media (max-width: 767px) {
    .header-hero-image img {
        max-width: 100%;
    }
}

@media (max-width: 767px) {
    .header-hero-image {
        padding-top: 30px;
    }
}

.bg_cover {
    padding-bottom: 10%;
}

/*===========================
      03.BRAND css
===========================*/
@media (max-width: 767px) {
    .brand-logo {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
}

.single-logo {
    padding: 0 30px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .single-logo {
        padding: 0 15px;
    }
}

@media (max-width: 767px) {
    .single-logo {
        padding: 0 15px;
    }
}

@media (max-width: 767px) {
    .single-logo {
        width: 50%;
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .single-logo {
        width: 33.33%;
    }
}

.single-logo img {
    width: 100%;
    opacity: 0.5;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}

.single-logo:hover img {
    opacity: 1;
}

.navbar-brand img {
    width: 50px;
}


/*.................slider.......*/

@media (min-width: 1199px) {
    .header-hero-image img {
        width: 90%;
    }
}

.position_slider {
    position: absolute;
    top: 10%;
    width: 487px !important;
    left: 11.7%;
}

.carousel-item img {
    height: 295px;

}

.header-hero-image {
    position: relative;
}

.carousel-control-prev {
    display: none;
}

.carousel-control-next {
    display: none;
}

.single_man {
    height: 95%;
    padding-top: 15%;
}

.single_man img {
    height: 100%;
    width: 300px;
}

.first_btn {
    text-align: center;
}

.first_btn a {
    width: 30%;
    margin: 20px;
    margin-top: 0;
    margin-right: 12%;
    line-height: 40px;
    font-family: 'Bebas Neue', cursive !important;
    font-size: 20px;
}

.main_btn2 a {
    background: linear-gradient(to right, #3149d6 0%, #2f74e8 50%, #305fdf 100%);
}

@media (max-width: 1199px) {
    .position_slider {
        width: 451px !important;
    }

    .carousel-item img {}

    .position_slider {
        left: 13%;
    }
}

@media (max-width: 991px) {
    .carousel-item img {
        height: 308px;
    }

    .position_slider {
        width: 511px !important;
    }

    .single_man {
        display: none;
    }

    .features {
        margin-top: 0 !important;
    }
}

@media (max-width: 768px) {
    .features_blk_overlay {
        width: auto !important;
    }
}

@media (max-width: 767px) {
    .position_slider {
        top: 12%;
        width: 378px !important;
    }

    .carousel-item img {
        height: 228px;
    }

    .features_blk:before,
    .features_blk_overlay:before,
    .overlay_baloon:after {
        content: none !important;
    }

    .overlay_baloon {
        display: none;
    }

    .features_blk_overlay {
        border-radius: 40px !important;
        left: 5% !important;
    }

    .features_blk {
        margin-top: 10% !important;
    }

    .about-area {
        padding-top: 0 !important;
    }

    .product_blk {
        margin-bottom: 10% !important;
    }

    .plans_head h4 {
        margin-top: 0 !important;
        margin-bottom: 10% !important;
    }

    .section-title .title {
        padding-bottom: 10px;
    }
}

@media (max-width: 575px) {
    .carousel-item img {
        height: 242px;
    }

    .position_slider {
        width: 74% !important;
    }
}

@media (max-width: 559px) {
    .carousel-item img {
        height: 180px;
    }
}

@media (max-width: 414px) {
    .first_btn a {
        font-size: 16px;
    }
}

@media (max-width: 375px) {
    .carousel-item img {
        height: 168px;
    }
}

@media (max-width: 360px) {
    .carousel-item img {
        height: 160px;
    }
}

@media (max-width: 320px) {
    .carousel-item img {
        height: 140px;
    }

    .position_slider {
        top: 13%;
    }
}

@media only screen and (min-width: 419px) and (max-width: 559px) {
    .carousel-item img {
        height: 235px;
    }
}




/*...............fearures_section..........*/
.features {
    margin-top: -10%;
}

.features_point i {
    border: 1px solid;
    border-radius: 20px;
    padding: 3px;
    color: #2f70e7;
    font-size: 10px;
    vertical-align: text-bottom;
    margin-right: 4%;
}

.features_blk {
    background-color: #fbfbfb;
    padding: 90px 2px 100px 30px;
    position: relative;
    box-shadow: 1px 0px 11px 0px;
    border: 3px solid white;
    border-bottom: 0;
    margin-top: 15%;
}

.features_blk li {
    line-height: 30px;
}

.features_point ul li span {
    color: #2f70e7;
    font-style: italic;
}

.features_blk_overlay {
    position: absolute;
    width: 95%;
    top: 3%;
    left: -23px;
    background: rgb(48, 95, 223);
    background: linear-gradient(115deg, rgba(48, 95, 223, 1) 35%, rgba(12, 43, 129, 1) 70%);
    border-radius: 40px 40px 40px 0px;
    padding: 10px 18px;
    text-align: center;
    box-shadow: 1px 1px 7px 1px;
}

.features_blk_overlay h5 {
    color: #fafafa;
    font-size: 14px;
    font-style: italic;
}

.features_blk_overlay:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    background: #305fdf;
    left: 0;
    top: 80%;

}

.features_blk:before {
    content: "";
    position: absolute;
    top: 18%;
    left: -23px;
    height: 22px;
    width: 20px;
    z-index: 9;
    background: #0c2b81;
    border-radius: 20px 2px 2px 20px;
}

.features_blk:after {
    content: "";
    position: absolute;
    width: 0;
    bottom: 0;
    right: -7px;
    border-bottom: 120px solid #10318a;
    border-left: 120px solid transparent;
}

.overlay_line_right {
    position: absolute;
    content: "";
    height: 20px;
    width: 4px;
    background: #352dc9;
    right: -7px;
    bottom: 30%;
}

.overlay_baloon {
    position: absolute;
    height: 60px;
    width: 2px;
    background: grey;
    bottom: -18%;
    left: 45%;

}

.overlay_baloon:after {
    position: absolute;
    content: "";
    width: 20px;
    height: 20px;
    background: rgb(48, 95, 223);
    background: linear-gradient(115deg, rgba(48, 95, 223, 1) 35%, rgba(12, 43, 129, 1) 70%);
    bottom: -30%;
    left: -8px;
    border-radius: 20px;

}

.baloon_tray {
    border: 1px solid;
    padding: 6px;
    margin-top: 5.6%;
    border-radius: 20px;
    width: 100%;
}


/*...................product.................*/
.plans {
    background-color: #e4e4e4;
    padding-top: 2%;
    padding-bottom: 2%;
    position: relative;
    overflow: hidden;
}

.plans_head h4 {
    text-align: center;
    text-decoration: underline;
    color: #40515e;
    margin-bottom: 5%;
    margin-top: 5%;
    font-size: 24px;
}

.plans .silver {
    background-color: #99a8c0;
}

.plans .gold {
    background-color: #f0b854;
}

.plans .platinum {
    background-color: #374957;
}

.product_blk h6 {
    color: white;
    padding-bottom: 40%;
    font-size: 20px;
}

.product_blk ul li span {
    display: block;
}

.product_blk ul {
    text-align: center;
}

.product_blk ul li {
    color: white;
    border-top: 1px solid;
    font-size: 15px;
    font-weight: 800;
    padding: 10px 0px;
}

.product_blk ul li:last-child {
    border-bottom: 1px solid;
}

.subscribe_btn {
    text-align: center;
}

.subscribe_btn a {
    background: white;
    padding: 6px 20px;
    color: #70777c;
    border-radius: 5px 5px;
    margin-top: 20%;
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
}

.gold .subscribe_btn a {
    color: #f0b854;
}

.plans .product_list {
    text-align: center;
}

.plans .product_list ul {
    display: inline-block;
}

.product_blk {
    padding: 20% 10% 20% 10%;
    position: relative;
    border-radius: 10px;
    z-index: 9;
    width: 65%;
    margin: 0 auto;
}

.product_blk_overlay {
    position: absolute;
    width: 80px;
    height: 135px;
    background: white;
    top: -3%;
    right: 12%;

}

.product_blk_overlay:after {
    /*         position: absolute;
    content: "";
    width: 0;
    height: 0;
    bottom: -30%;
    right: -50%;
    border-style: solid;
    border-width: 0 80px 80px 80px;
    border-color: transparent transparent #99a8c0 transparent;*/
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    bottom: -17%;
    right: -29%;
    border-style: solid;
    border-width: 0 63px 63px 63px;
    border-color: transparent transparent #99a8c0 transparent;
}

.product_blk_overlay:before {
    position: absolute;
    content: "";
    top: 0%;
    left: -15%;
    border-bottom: 12px solid #70777c;
    border-left: 12px solid transparent;

}

.product_blk .product_blk_overlay p {
    font-size: 22px;
    font-weight: 800;
    text-align: center;
    margin-top: 30%;
    color: #324553;
}

.product_blk .product_blk_overlay p span {
    display: block;
}

.overlay_gold:after {
    border-color: transparent transparent #f0b854 transparent;
}

.overlay_platinum:after {
    border-color: transparent transparent #374957 transparent;
}

.plans .section-title {
    text-align: right;
}

.plans .section-title .line {
    float: right;
}

.plans .section-title .title {
    clear: both;
}

.plans .about-shape-2 {
    z-index: 9;
    top: 47%;
    left: -12%;
}

.plans .about-shape-2 img {
    opacity: 0.3;
    width: 100%;
    height: 17%;
}

.about-shape-custom {
    position: absolute;
    top: 28%;
    right: -19%;
    width: 35%;
    height: 100%;
    z-index: 9;
}

.about-shape-custom img {
    opacity: 0.3;
    width: 100%;
    height: 17%;
}

/*..................*/

/*...............why choose us..............*/
.choose_us {
    text-align: center;
}

.choose_counter {
    padding: 5% 5%;
}

/*===========================
      04.SERVICES css
===========================*/
.single-services {
    background-color: #fff;
    -webkit-box-shadow: 0px 5px 30px 0px rgba(167, 167, 167, 0.16);
    -moz-box-shadow: 0px 5px 30px 0px rgba(167, 167, 167, 0.16);
    box-shadow: 0px 5px 30px 0px rgba(167, 167, 167, 0.16);
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
    padding: 50px 30px;
    border: 2px solid transparent;
    border-radius: 8px;
}

@media (max-width: 767px) {
    .single-services {
        padding: 20px 20px 30px;
    }
}

.single-services .services-icon {
    display: inline-block;
    position: relative;
}

.single-services .services-icon img {
    -webkit-transition: all 0.4s ease-out 0s;
    -moz-transition: all 0.4s ease-out 0s;
    -ms-transition: all 0.4s ease-out 0s;
    -o-transition: all 0.4s ease-out 0s;
    transition: all 0.4s ease-out 0s;
}

.single-services .services-icon .shape-1 {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.single-services .services-icon i {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 34px;
    color: #fff;
}

.single-services .services-content .services-title a {
    font-size: 26px;
    font-weight: 700;
    color: #2E2E2E;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .single-services .services-content .services-title a {
        font-size: 24px;
    }
}

@media (max-width: 767px) {
    .single-services .services-content .services-title a {
        font-size: 20px;
    }
}

.single-services .services-content .services-title a:hover {
    color: #361CC1;
}

.single-services .services-content .text {
    margin-top: 30px;
}

@media (max-width: 767px) {
    .single-services .services-content .text {
        margin-top: 20px;
    }
}

.single-services .services-content .more {
    margin-top: 30px;
    font-size: 16px;
    font-weight: 400;
    color: #2E2E2E;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}

.single-services .services-content .more i {
    margin-left: 10px;
}

.single-services .services-content .more:hover {
    color: #361CC1;
}

.single-services:hover {
    border-color: #FE7A7B;
}

.single-services:hover .services-icon .shape {
    -webkit-transform: rotate(25deg);
    -moz-transform: rotate(25deg);
    -ms-transform: rotate(25deg);
    -o-transform: rotate(25deg);
    transform: rotate(25deg);
}

/*===========================
      05.ABOUT css
===========================*/
.about-area {
    position: relative;
    z-index: 5;
    padding-bottom: 2%;
}

.about-shape-1 {
    position: absolute;
    top: 0;
    right: 0;
    width: 35%;
    height: 100%;
    z-index: -1;
}

.about-shape-1 img {
    width: 100%;
}

@media (max-width: 767px) {
    .about-shape-1 {
        display: none;
    }
}

.about-shape-2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 35%;
    height: 100%;
    z-index: -1;
}

.about-shape-2 img {
    width: 100%;
}

@media (max-width: 767px) {
    .about-shape-2 {
        display: none;
    }
}

.about-content {
    max-width: 480px;
}

.about-content .text {
    margin-top: 15px;
}

.about-content .main-btn {
    background: -webkit-linear-gradient(left, #fe8464 0%, #fe6e9a 50%, #fe8464 100%);
    background: -o-linear-gradient(left, #fe8464 0%, #fe6e9a 50%, #fe8464 100%);
    background: linear-gradient(to right, #fe8464 0%, #fe6e9a 50%, #fe8464 100%);
    background-size: 200%;
    height: 50px;
    line-height: 50px;
    padding: 0 35px;
    margin-top: 40px;
}

.about-content .main-btn:hover {
    background-position: right center;
}

.about-area .first_btn a {
    width: inherit;
    padding: 0px 60px;
}



/*===========================
    06.VIDEO COUNTER css
===========================*/
.video-content {
    position: relative;
    padding-bottom: 30px;
}

.video-content .dots {
    position: absolute;
    left: -30px;
    bottom: 0;
}

.video-wrapper {
    margin-right: 15px;
    position: relative;
    -webkit-box-shadow: 0px 13px 46px 0px rgba(113, 113, 113, 0.33);
    -moz-box-shadow: 0px 13px 46px 0px rgba(113, 113, 113, 0.33);
    box-shadow: 0px 13px 46px 0px rgba(113, 113, 113, 0.33);
    border-radius: 10px;
    overflow: hidden;
}

@media (max-width: 767px) {
    .video-wrapper {
        margin-right: 0;
    }
}

.video-wrapper .video-image img {
    width: 100%;
}

.video-wrapper .video-icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: -webkit-linear-gradient(left, rgba(54, 28, 193, 0.2) 0%, rgba(46, 130, 239, 0.2) 100%);
    background: -o-linear-gradient(left, rgba(54, 28, 193, 0.2) 0%, rgba(46, 130, 239, 0.2) 100%);
    background: linear-gradient(to right, rgba(54, 28, 193, 0.2) 0%, rgba(46, 130, 239, 0.2) 100%);
}

.video-wrapper .video-icon a {
    width: 55px;
    height: 55px;
    line-height: 55px;
    text-align: center;
    border-radius: 50%;
    background-color: #fff;
    color: #FE8464;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.counter-wrapper {
    padding-left: 70px;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .counter-wrapper {
        padding-left: 0;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .counter-wrapper {
        padding-left: 0;
    }
}

@media (max-width: 767px) {
    .counter-wrapper {
        padding-left: 0;
    }
}

.counter-wrapper .counter-content .text {
    margin-top: 35px;
}

.counter-wrapper .single-counter {
    max-width: 155px;
    height: 120px;
    border-radius: 60px;
    position: relative;
    z-index: 5;
    margin-top: 60px;
}

@media (max-width: 767px) {
    .counter-wrapper .single-counter {
        max-width: 100px;
        height: 80px;
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .counter-wrapper .single-counter {
        max-width: 155px;
        height: 120px;
    }
}

.counter-wrapper .single-counter::before {
    position: absolute;
    content: '';
    width: 155px;
    height: 120px;
    border-radius: 60px;
    top: 0;
    left: 0;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    z-index: -1;
}

@media (max-width: 767px) {
    .counter-wrapper .single-counter::before {
        max-width: 100px;
        height: 80px;
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .counter-wrapper .single-counter::before {
        max-width: 155px;
        height: 120px;
    }
}

.counter-wrapper .single-counter.counter-color-1::before {
    background: -webkit-linear-gradient(#33c8c1 0%, #119bd2 100%);
    background: -o-linear-gradient(#33c8c1 0%, #119bd2 100%);
    background: linear-gradient(#33c8c1 0%, #119bd2 100%);
}

.counter-wrapper .single-counter.counter-color-2::before {
    background: -webkit-linear-gradient(#fe8464 0%, #fe6e9a 100%);
    background: -o-linear-gradient(#fe8464 0%, #fe6e9a 100%);
    background: linear-gradient(#fe8464 0%, #fe6e9a 100%);
}

.counter-wrapper .single-counter.counter-color-3::before {
    background: -webkit-linear-gradient(#361cc1 0%, #2e82ef 100%);
    background: -o-linear-gradient(#361cc1 0%, #2e82ef 100%);
    background: linear-gradient(#361cc1 0%, #2e82ef 100%);
}

.counter-wrapper .single-counter .count {
    font-size: 22px;
    font-weight: 700;
    color: #fff;
}

@media (max-width: 767px) {
    .counter-wrapper .single-counter .count {
        font-size: 18px;
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .counter-wrapper .single-counter .count {
        font-size: 22px;
    }
}

.counter-wrapper .single-counter .text {
    font-size: 16px;
    color: #fff;
}

@media (max-width: 767px) {
    .counter-wrapper .single-counter .text {
        font-size: 14px;
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .counter-wrapper .single-counter .text {
        font-size: 16px;
    }
}

/*===========================
       07.TEAM css
===========================*/
.single-team {
    -webkit-box-shadow: 0px 0px 30px 0px rgba(167, 167, 167, 0.16);
    -moz-box-shadow: 0px 0px 30px 0px rgba(167, 167, 167, 0.16);
    box-shadow: 0px 0px 30px 0px rgba(167, 167, 167, 0.16);
    overflow: hidden;
    border-radius: 10px;
}

.single-team .team-image {
    position: relative;
}

.single-team .team-image img {
    width: 100%;
}

.single-team .team-image .social {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 25px;
}

.single-team .team-image .social ul {
    background-color: rgba(255, 255, 255, 0.23);
    display: inline-block;
    border-radius: 50px;
    padding: 0 13px;
    position: relative;
    z-index: 5;
    overflow: hidden;
}

.single-team .team-image .social ul::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    z-index: -1;
    top: 0;
    left: 0;
    background: -webkit-linear-gradient(#fe8464 0%, #fe6e9a 100%);
    background: -o-linear-gradient(#fe8464 0%, #fe6e9a 100%);
    background: linear-gradient(#fe8464 0%, #fe6e9a 100%);
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}

.single-team .team-image .social ul li {
    display: inline-block;
}

.single-team .team-image .social ul li a {
    padding: 15px 13px;
    color: #fff;
}

.single-team .team-content {
    padding: 30px;
}

.single-team .team-content .holder-name a {
    font-size: 20px;
    font-weight: 700;
    color: #2E2E2E;
}

.single-team .team-content .text {
    margin-top: 5px;
}

.single-team:hover .team-image .social ul::before {
    opacity: 1;
    visibility: visible;
}

/*===========================
     08.TESTIMONIAL css
===========================*/
.single-testimonial {
    background-color: #fff;
    -webkit-box-shadow: 0px 0px 30px 0px rgba(167, 167, 167, 0.16);
    -moz-box-shadow: 0px 0px 30px 0px rgba(167, 167, 167, 0.16);
    box-shadow: 0px 0px 30px 0px rgba(167, 167, 167, 0.16);
    overflow: hidden;
    border-radius: 10px;
    padding: 25px 30px 5px;
    border-radius: 10px;
    border: 2px solid transparent;
    margin: 30px 0;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}

@media (max-width: 767px) {
    .single-testimonial {
        padding: 20px 20px 5px;
    }
}

.single-testimonial .testimonial-review .quota i {
    font-size: 36px;
    color: #119BD2;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}

.single-testimonial .testimonial-review .star ul li {
    display: inline-block;
    font-size: 16px;
    color: #FE806D;
}

.single-testimonial .testimonial-text {
    margin-top: 25px;
}

.single-testimonial .testimonial-author {
    margin-top: 30px;
}

.single-testimonial .testimonial-author .author-image {
    position: relative;
}

.single-testimonial .testimonial-author .author-image .author {
    position: absolute;
    top: 17px;
    left: 17px;
    width: 80px;
    height: 80px;
}

.single-testimonial .testimonial-author .author-content .holder-name {
    font-size: 18px;
    font-weight: 700;
    color: #2E2E2E;
}

.single-testimonial .testimonial-author .author-content .text {
    font-size: 15px;
}

.single-testimonial:hover {
    border-color: #FE7A7B;
}

.single-testimonial:hover .testimonial-review .quota i {
    color: #FE7A7B;
}

.slick-center .single-testimonial {
    border-color: #FE7A7B;
}

.slick-center .single-testimonial .testimonial-review .quota i {
    color: #FE7A7B;
}

.testimonial-active .slick-dots {
    margin: 0 auto;
}

.testimonial-active .slick-dots li {
    display: inline-block;
    margin: 0 4px;
}

.testimonial-active .slick-dots li button {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: linear-gradient(180deg, #fe8464 0%, #fe6e9a 100%);
    border: 0;
    font-size: 0;
    opacity: 0.5;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}

.testimonial-active .slick-dots li.slick-active button {
    opacity: 1;
    width: 15px;
    height: 15px;
}

/*===========================
       09.BLOG  css
===========================*/
.single-blog .blog-image img {
    border-radius: 10px;
    width: 100%;
}

.single-blog .blog-content {
    padding-top: 25px;
}

.single-blog .blog-content .meta li {
    font-size: 16px;
    color: #6A6972;
    display: inline-block;
    margin-left: 50px;
}

.single-blog .blog-content .meta li:first-child {
    margin-left: 0;
}

.single-blog .blog-content .meta li a {
    color: #6A6972;
}

.single-blog .blog-content .text {
    font-size: 23px;
    font-weight: 400;
    line-height: 30px;
    color: #2E2E2E;
    margin-top: 15px;
}

@media (max-width: 767px) {
    .single-blog .blog-content .text {
        font-size: 20px;
        line-height: 30px;
    }
}

.single-blog .blog-content .more {
    font-size: 16px;
    color: #FE7E71;
    margin-top: 30px;
}

.single-blog .blog-content .more i {
    margin-left: 5px;
}

/*===========================
       10.SUBSCRIBE  css
===========================*/
.subscribe-area {
    /*  -webkit-box-shadow: 0px 0px 18px 0px rgba(50, 77, 215, 0.14);
    -moz-box-shadow: 0px 0px 18px 0px rgba(50, 77, 215, 0.14);
    box-shadow: 0px 0px 18px 0px rgba(50, 77, 215, 0.14);*/
    border-radius: 10px;
    /*  background-color: #fff;*/
}

/*  @media (max-width: 767px) {
    .subscribe-area {
      padding: 10px 30px 60px; } }*/

.subscribe-content .subscribe-title {
    font-size: 35px;
    font-weight: 700;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .subscribe-content .subscribe-title {
        font-size: 30px;
    }
}

@media (max-width: 767px) {
    .subscribe-content .subscribe-title {
        font-size: 24px;
    }
}

.subscribe-content .subscribe-title span {
    font-weight: 400;
}

.subscribe-form {
    position: relative;
}

.subscribe-form input {
    border: 2px solid #E1E1E1;
    height: 65px;
    padding: 0 30px;
    border-radius: 5px;
    width: 100%;
    color: #2E2E2E;
}

.subscribe-form input::placeholder {
    opacity: 1;
    color: #B9B9B9;
}

.subscribe-form input::-moz-placeholder {
    opacity: 1;
    color: #B9B9B9;
}

.subscribe-form input::-moz-placeholder {
    opacity: 1;
    color: #B9B9B9;
}

.subscribe-form input::-webkit-input-placeholder {
    opacity: 1;
    color: #B9B9B9;
}

.subscribe-form input:focus {
    border-color: #361CC1;
}

.subscribe-form button {
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    height: 65px;
    line-height: 65px;
    background: -webkit-linear-gradient(left, #fe8464 0%, #fe6e9a 50%, #fe8464 100%);
    background: -o-linear-gradient(left, #fe8464 0%, #fe6e9a 50%, #fe8464 100%);
    background: linear-gradient(to right, #fe8464 0%, #fe6e9a 50%, #fe8464 100%);
    background-size: 200%;
}

@media (max-width: 767px) {
    .subscribe-form button {
        position: relative;
        width: 100%;
        margin-top: 10px;
        border-radius: 5px;
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .subscribe-form button {
        position: absolute;
        width: auto;
        margin-top: 0;
        border-radius: 0;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }
}

.subscribe-form button:hover {
    color: #fff;
    background-position: right center;
}

/*===========================
       11.FOOTER  css
===========================*/
.footer-area {
    background-position: top center;
    position: relative;
    z-index: 5;
    background-color: #f4f4f4;
    padding-top: 2%;
}

.footer-area::before {
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: url(../images/footer-bg.svg);
    background-position: top center;
    z-index: -1;
    background-size: cover;
}

@media only screen and (min-width: 1921px) {
    .footer-area::before {
        height: 1120px;
    }
}

#particles-2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.footer-widget {
    padding-top: 50px;
}

.footer-about .logo img {
    width: 160px;
}

.footer-about .text {
    color: #fff;
    line-height: 30px;
    margin-top: 30px;
}

.footer-about .social {
    margin-top: 19px;
}

.footer-about .social li {
    display: inline-block;
    margin-right: 30px;
}

.footer-about .social li a {
    font-size: 28px;
    color: #fff;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}

.footer-about .social li a:hover {
    color: #FE8464;
}

.footer-title .title {
    font-size: 24px;
    font-weight: 700;
    color: #fff;
}

.link-wrapper {
    padding: 0 35px;
}

@media (max-width: 767px) {
    .link-wrapper {
        padding: 0;
        padding-right: 50px;
    }
}

.link-wrapper .link {
    padding-top: 20px;
}

.link-wrapper .link li {
    margin-top: 10px;
}

.link-wrapper .link li a {
    font-size: 16px;
    color: #fff;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}

.link-wrapper .link li a:hover {
    color: #FE8464;
}

.footer-contact .contact {
    padding-top: 20px;
}

.footer-contact .contact li {
    margin-top: 10px;
    font-size: 16px;
    color: #fff;
}

.footer-copyright {
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    padding-top: 15px;
    padding-bottom: 30px;
}

.copyright-content {
    padding-top: 30px;
    text-align: center;
}

.copyright-content p {
    color: #fff;
    font-size: 13px;
}

.copyright-content a {
    font-size: 16px;
    color: #fff;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}

.copyright-content a:hover {
    color: #FE8464;
}

.copy_right span {
    font-size: 13px;
    color: white;
    display: block;
}

.copy_right i {
    color: white;
    padding-right: 5%;
    font-size: 20px;
}

.copy_right {
    display: flex;
    padding-top: 30px;
    justify-content: flex-end;
}

.footer_hr hr {
    margin-top: 17%;
    display: block;
    background: white;
}

.reserved span {
    font-size: 13px;
    color: white;
}

.reserved {
    padding-top: 28px;
}

.copy_right a {
    color: white;
}

@media (max-width: 767px) {
    .footer_form {
        margin-top: 5%;
        margin-bottom: 5%;
    }

    .footer-about {
        margin-top: 0;
    }

    .location_text i {
        width: 14% !important;
        padding: 9px 0px !important;
    }

    .location_text ul li {
        font-size: 15px;
    }

    .footer-widget {
        padding-top: 10%;
    }

    .footer_submit a {
        font-size: 14px;
    }

    .footer_submit {
        text-align: center !important;
    }
}

/*===== BACK TO TOP =====*/
.back-to-top {
    font-size: 20px;
    color: #fff;
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 5px;
    background: -webkit-linear-gradient(left, #361cc1 0%, #2e82ef 100%);
    background: -o-linear-gradient(left, #361cc1 0%, #2e82ef 100%);
    background: linear-gradient(to right, #361cc1 0%, #2e82ef 100%);
    text-align: center;
    z-index: 99;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
    display: none;
}

.back-to-top:hover {
    color: #fff;
}

.footer_form .form_head {
    background: #2e6ce5;
    text-align: center;
    padding: 25px 0px;
    border-radius: 25px 25px 0px 0px;
}

.footer_form .form_head h6 {
    color: white;
}

.main_form form input,
.main_form form textarea {
    width: 100%;
    border: 1px solid black;
    padding: 10px 10px;
    margin-bottom: 5%;
}

.main_form {
    padding: 40px 40px;
    background: #ffffffe8;
    border-radius: 0px 0px 25px 25px;
}

.footer_submit {
    text-align: right;
}

.footer_submit a {
    background: #3243d2;
    color: white;
    padding: 5px 40px;
    border-radius: 5px;
}

.footer_form {
    border: 13px solid #dcdcdc;
    border-radius: 40px;
}

.footer_location {
    background-color: #ffffffe8;
    padding: 40px 40px;
    border: 13px solid #dcdcdc;
    border-radius: 40px;
}

.location_text i {
    background: #3159dc;
    color: white;
    width: 9%;
    text-align: center;
    padding: 9px 0px;
    margin-right: 2%;
}

.location_text ul {
    padding-left: 5%;
    padding-top: 10%;
    padding-bottom: 9%;
}

.location_text ul li {
    line-height: 40px;
}

.modal-backdrop {
    position: inherit;

}




/*...............popop..........*/
.free_trial input,
.free_trial select {
    width: 100%;
    border-left: 0;
    border-top: 0;
    padding: 8px;
    border-right: 0;
}

.free_trial form {
    text-align: left;
}

.form_head {
    color: black;
    font-size: 12px;
    font-weight: bold;
}

.modal .free_trial {
    border: 20px solid #2a2aa9;
}

.modal {

    background: #1c2161cf;
}

.free_trial .modal-content {
    padding: 2px 60px;
}

.free_trial .modal-header {
    border-bottom: 0;
}

.modal-header .close {
    position: absolute;
    right: 4%;
    top: 2%;
}

.modal-body form a {
    width: 100%;
    color: white;
    margin-top: 10%;
    margin-left: 0;
    text-align: center;

}

.free_trial .modal-header h5 {
    color: #11117b;
    font-size: 20px;
}

.govt_logo {
    width: 20%;
    margin: 0 auto;
}

.verify_tab .verified_pro a {
    width: 25%;
    padding: 5px 0px;
    color: white;
    font-weight: 900;
    text-align: center;
}

.verify_tab h5 {
    color: #11117b;
    font-size: 20px;
}


.verify_tab .verified_pro .a_green {
    background-color: green;
}

.verify_tab .verified_pro .a_red {
    background-color: red;
}

.verify_tab {
    text-align: center;
}

.verify_tab p {
    font-size: 12px;
    font-weight: 800;
}

.verified_pro {
    margin: 20px 0px;
}

.verify_tab h5 {
    margin-top: 20px;
}

.dis_none {
    display: none;
}

.verified_pro a:first-child {
    margin-right: 10%;
}

.branch_head h5 {
    color: #11117b;
    font-size: 20px;
    text-align: center;
}

.plans_blk {
    padding: 4% 30%;
}

.tab_nxt_prv .btnPrevious {
    width: 20%;
    padding: 2px 0px;
    border-radius: inherit;
    color: white !important;
    background: #121269;
    text-align: center;
    margin-right: 3%;
}

.tab_nxt_prv .btnNext {
    width: 20%;
    padding: 2px 0px;
    border-radius: inherit;
    color: white !important;
    background: #21b121;
    text-align: center;
}

.free_trial .activate_content {
    padding: 0;
}

.body_activate {
    padding-top: 0;
}

.branch_head h5 small {
    display: block;
    font-weight: 800;
}

.browse_form_sec {
    width: 60%;
    margin: 0 auto;
    padding-top: 5%;
}

.overview_img {
    width: 40%;
    margin-top: 4%;
    margin-bottom: 4%;
}

.overview_blk ul>li {
    color: black;
    font-weight: 800;
    font-size: 15px;
    line-height: 25px;
}

.overview_blk_right {
    width: 75%;
}

.flex_blk_over {
    display: flex;

}

.flex_blk_over a {
    background: green;
    margin-top: 0 !important;
    line-height: 35px;
    margin-left: 4% !important;
    ;
}

.overview_main .table td,
.overview_main .table th {
    font-size: 11px;
    font-weight: bold;
    padding: 8px 10px;
}

.overview_main .branch_head h5 {
    text-align: left;
    text-decoration: underline;
}

.overview_main table {
    margin-top: 8%;
}

.overview_blk {
    margin-top: 10%;
}

.payment_blk .btn {
    width: 18%;
    padding: 0px 5px 0px 5px;
}

.payment_blk .btn img {
    width: 100%;
    height: 100%;
}

.payment_blk .btn {
    margin-left: 1%;

}

.payment_blk .btn:first-child {
    margin-left: 0;
}

.tab_nxt_prv .btnSubmit {
    width: 30%;
    padding: 2px 0px;
    border-radius: inherit;
    color: white !important;
    background: #21b121;
    text-align: center;
}

.overview_right_full {
    position: relative;
}

.overview_right_full:before {
    position: absolute;
    content: "";
    width: 2px;
    height: 100%;
    background: #2a2aa9;
    left: -4%;
}

@media (min-width: 576px) {
    .free_trial_modal {
        max-width: 500px;
    }

    .modal_center_margin {
        margin-top: 4%;
    }
}


.file-upload {
    background-color: #ffffff;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
}

.file-upload-btn {
    width: 100%;
    margin: 0;
    color: #fff;
    background: #1FB264;
    border: none;
    padding: 10px;
    border-radius: 4px;
    border-bottom: 4px solid #15824B;
    transition: all .2s ease;
    outline: none;
    text-transform: uppercase;
    font-weight: 700;
}

.file-upload-btn:hover {
    background: #1AA059;
    color: #ffffff;
    transition: all .2s ease;
    cursor: pointer;
    color: white;
}

.file-upload-btn:active {
    border: 0;
    transition: all .2s ease;
}

.file-upload-content {
    display: none;
    text-align: center;
}

.file-upload-input {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    outline: none;
    opacity: 0;
    cursor: pointer;
}

.image-upload-wrap {
    margin-top: 20px;
    border: 4px dashed #2a2aa9;
    position: relative;
}

.image-dropping,
.image-upload-wrap:hover {
    background-color: #2a2aa9;
    border: 4px dashed #ffffff;
}

.image-title-wrap {
    padding: 0 15px 15px 15px;
    color: #222;
}

.drag-text {
    text-align: center;
}

.drag-text h3 {
    font-weight: 100;
    text-transform: uppercase;
    color: #676767;
    font-size: 19px;
    padding: 60px 0;
}

.file-upload-image {
    max-height: 200px;
    max-width: 200px;
    margin: auto;
    padding: 20px;
}

.remove-image {
    width: 80%;
    margin: 0;
    color: #fff;
    background: #cd4535;
    border: none;
    padding: 10px;
    font-size: 12px;
    border-radius: 4px;
    border-bottom: 4px solid #b02818;
    transition: all .2s ease;
    outline: none;
    text-transform: uppercase;
    font-weight: 700;
}

.remove-image:hover {
    background: #c13b2a;
    color: #ffffff;
    transition: all .2s ease;
    cursor: pointer;
}

.remove-image:active {
    border: 0;
    transition: all .2s ease;
}

.image-dropping,
.image-upload-wrap:hover .drag-text h3 {
    color: white;
}




.header-area {

    .col,
    .col-1,
    .col-10,
    .col-11,
    .col-12,
    .col-2,
    .col-3,
    .col-4,
    .col-5,
    .col-6,
    .col-7,
    .col-8,
    .col-9,
    .col-auto,
    .col-lg,
    .col-lg-1,
    .col-lg-10,
    .col-lg-11,
    .col-lg-12,
    .col-lg-2,
    .col-lg-3,
    .col-lg-4,
    .col-lg-5,
    .col-lg-6,
    .col-lg-7,
    .col-lg-8,
    .col-lg-9,
    .col-lg-auto,
    .col-md,
    .col-md-1,
    .col-md-10,
    .col-md-11,
    .col-md-12,
    .col-md-2,
    .col-md-3,
    .col-md-4,
    .col-md-5,
    .col-md-6,
    .col-md-7,
    .col-md-8,
    .col-md-9,
    .col-md-auto,
    .col-sm,
    .col-sm-1,
    .col-sm-10,
    .col-sm-11,
    .col-sm-12,
    .col-sm-2,
    .col-sm-3,
    .col-sm-4,
    .col-sm-5,
    .col-sm-6,
    .col-sm-7,
    .col-sm-8,
    .col-sm-9,
    .col-sm-auto,
    .col-xl,
    .col-xl-1,
    .col-xl-10,
    .col-xl-11,
    .col-xl-12,
    .col-xl-2,
    .col-xl-3,
    .col-xl-4,
    .col-xl-5,
    .col-xl-6,
    .col-xl-7,
    .col-xl-8,
    .col-xl-9,
    .col-xl-auto {
        position: static;
    }
}

/* ........new changes.... */
.tab_form_register_client {
    padding: 25% 15% 0% 10%;
}

.terms_condition_accept input {
    width: 18px;
    height: 18px;
}

.terms_condition_accept label {
    color: black;
    margin-left: 5px;
}

.btn_logg_register .main_in {
    margin-top: 4%;
}

.troubleshoot_popup {
    position: absolute;
    width: 15% !important;
    right: -50px;
    bottom: 0;


}

.troubleshoot_popup a {
    color: #2a2aa9 !important;
}

.troubleshoot_popup i {
    font-size: 20px;
}

.plans_blk .form_head {
    position: relative;
}

.btn_trial {
    background: #2a2aa9;
    padding: 10px 16px;
}

.troubleshoot_popup .popup {
    display: none;
    transition: 1s ease-in-out;
    padding: 10px;
    width: 300px;
    background: #2a2aa9;
    position: absolute;
    z-index: 9;
    left: 39px;
    top: 5px;
}


.troubleshoot_popup:hover .popup {
    display: block;
    transition: 1s ease-in-out;
}

.form_head_info {
    position: relative;
}

.troubleshoot_popup {
    .popup {
        padding: 10px;
        padding-top: 0;
    }

    h4 {
        color: white;
        font-size: 16px;
        margin-bottom: 2px;
        margin-top: 10px;
        text-decoration: underline;
    }


    p {
        color: white;
        font-size: 14px;
        line-height: 16px;
    }
}